<div class="discussion-list--item">
	<div class="discussion-list--avatar ">
		<img src="{{gravatar}}" alt=""/>
	</div>
	<div class="discussion-list--body">
		<header class="discussion-list--header">
			<h3 class="discussion-list--name">{{author_name}}</h3>
			<time class="discussion-list--timestamp" datetime="">Posted {{month}} {{day}}, {{year}} at {{time}}</time>
		</header>

		<div class="markdown-content">
			{{{body}}}
		</div>

		{{#if current_user_can_reply}}
			<ul class="horizontal-links">

				<li>
					{{#if parent_id}}
						<a class="reply-link primary-link" data-behavior="toggle-reply" data-post="{{parent_id}}"
						   href="#">Reply</a>
					{{else}}
						<a class="reply-link primary-link" data-behavior="toggle-reply" data-post="{{id}}" href="#">Reply</a>
					{{/if}}
				</li>

				{{#if current_user_can_destroy}}
					<li>
						<a class="delete-link secondary-link" data-behavior="toggle-delete-confirm" href="#">Delete</a>
					</li>
				{{/if}}
			</ul>

			<div class="alert alert-warning" data-behavior="delete-confirm" style="display: none;">
				<aside class="alert--label" data-behavior="alert-label"></aside>
				<p>
					Are you sure?
				</p>

				<p>
					<a data-behavior="delete" data-post="{{id}}" href="#">Yes. Delete this post. </a>
				</p>

				<p>
					<a class="alert--close" data-behavior="toggle-delete-confirm" href="#">On second thought, no.</a>
				</p>
			</div>

		{{/if}}

		<div class="discussion-list--input-container" data-behavior="input-container" style="display: none">
			<div data-container="flash"></div>
			{{> ../partials/discussionPostInput}}
		</div>

		<div class="rule"></div>
	</div>
	<!-- /discussion-list--body -->
</div> <!-- /discussion-list--item -->


<ul class="discussion-list" data-behavior="post-container">
</ul>
