<% content_for :body_class do %>course-map<% end %>

<header class="bar-header">
    <h2 class="bar-header--title-alt"><%= @submission.creator.name %></h2>
  <h3 class="bar-header--subtitle"><%= @submission.project %></h3>
</header>

<div id="region-main"></div>

<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'user', :data => [current_user] }%>
<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'project', :data => [@project]}%>
<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'submission', :data => [@submission]}%>
