<h5 class="modal--header">{{name}}</h5>
<div class="modal-rubric">
    <div class="table-container">
        <div class="table-rubric">
            <div class="table-body">
                <div class="ranges table-row">
                    <div class="criteria-header table-cell spacer"></div>
                    {{#each ranges}}
                        <div class="table-cell">
                            <p><strong>{{name}}</strong></p>
                            {{low}} - {{high}}
                        </div>
                    {{/each}}
                </div>
                {{#each fields}}
                <div class="table-row">
                    <div class="criteria-header table-cell">
                        <span><strong>{{name}}</strong></span>
                    </div>
                    {{#each ../ranges}}
                    <div class="table-cell">
                        <p style="text-align: center;">
                            <strong>{{this.name}}<br/>{{this.low}} to {{this.high}}</strong>
                        </p>

                        <p>
                            {{find_rubric_cell_description ../../cells ../this this }}
                        </p>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 1em;">
	<a href="#" class="primary-button close-button" data-behavior="dismiss">Close</a>
</div>
