<header class="bar-header double-space-bottom">
  <h2 class="bar-header--title">Edit Course Settings: "<%= @course.name %>"</h2>
  <%= render 'layouts/messages' %>
</header>
<div class="page-content--frame">
  <%= form_tag(course_manage_settings_path(@course.id), :method => 'put') do %>
    <fieldset>
      <div class="input-group">
        <label class="checkbox-label">
          <%= check_box_tag('settings[enable_annotation]', 1, @course.settings['enable_annotation'], :class => 'checkbox')%>
          <b></b>
          Enable video annotation
        </label>
        <label class="checkbox-label">
          <%= check_box_tag('settings[enable_peer_review]', 1, @course.settings['enable_peer_review'], :class => 'checkbox')%>
          <b></b>
          Enable peer review
        </label>
        <label class="checkbox-label">
          <%= check_box_tag('settings[enable_creator_attach]', 1, @course.settings['enable_creator_attach'], :class => 'checkbox')%>
          <b></b>
          Allow creators to upload videos
        </label>
        <label class="checkbox-label">
          <%= check_box_tag('settings[enable_self_evaluation]', 1, @course.settings['enable_self_evaluation'], :class => 'checkbox')%>
          <b></b>
          Allow self-evaluation
        </label>

      </div>
      <div class="input-group">
        <%= submit_tag('Save Settings', :class => 'teal-arrow-button') %>
      </div>
    </fieldset>
  <% end %>
</div>
