<td>
    {{creator.name}}
</td>
<td>
	{{#each media}}
		<div></div>

	{{/each}}
</td>
<td>
    {{annotations}}
</td>
<td>
    {{my_score}}
</td>
<td>
    {{average_instructor_score}}
</td>
<td>
    {{average_peer_score}}
</td>
<td>
    {{self_evaluation_score}}
</td>
<td>
    {{posts}}
</td>
