<% content_for :content_header do %>
  <% if @selected_course%>
    <%= if @selected_course then "#{@selected_course.department}#{@selected_course.number} - #{@selected_course.name} " end%></h2>
  <% else %>
    Dashboard
  <% end %>
<% end %>

<% content_for :content_header_links do %>
<% end %>

<% content_for :content_intro do %>
  <% if @selected_course %>
      <% unless @selected_course.message.blank? %>
        <h2 class="frame--title">Announcements</h2>
        <%= simple_format @selected_course.message %>
      <% end %>
  <% else %>
    <h2 class="frame--title">Greetings, <%= current_user.first_name %></h2>
    <p>
      Welcome to VOCAT 3. From here, you can view your submissions, review your classmates' work (if enabled by your
      instructor), upload video and other documents, interact with your instructor and classmates, and access useful
      statistical data for all of your classes.
    </p>
  <% end %>
<% end %>

<% content_for :content_frames	 do %>
  <% if @selected_course %>
    <%= render 'dashboard/course', :course => @selected_course %>
  <% else %>
    <% current_user.courses.each do |course| %>
      <%= render 'dashboard/course', :course => course %>
    <% end %>
  <% end %>
<% end %>
