<% content_for :content do %>

	<div style="line-height: 1.25em;" class="alert alert-info">
		Vocat will be intermittently offline from approximately 5:00 PM to 8:00 PM on Wednesday, April 15, so that we can
		install an update with exciting new features. When Vocat returns, you will be able to upload audio and image files
		as well as videos, draw on videos and images within the annotation interface, format annotation text using markdown tags,
		and manage upload, privacy, and discussion settings on individual projects, along with other usability improvements.
		If you have any questions, please reach out to Project Manager Craig Stone at craig.stone@baruch.cuny.edu or Vocat
		Coordinator Anderson Evans at anderson.evans@baruch.cuny.edu.
	</div>


	<div class="page-message">
		<div class="header">
			Hello <%= current_user.first_name %>,
		</div>
		<div class="body">
			<%= render 'dashboard/messages/evaluator_message' %>
		</div>
	</div>

	<div class="page-section">
		<div class="header-wrapper">
			<div class="buttons">
				<%= link_to 'Request New Course', new_course_request_path, :class => 'primary-button new-button' %>
			</div>
			<div class="header">
				<h4>Your Courses</h4>
			</div>
		</div>
		<div class="body">
			<% if current_user.courses.count > 0 %>
				<% current_user.courses.each do |course| %>
					<%= render 'dashboard/shared/evaluator_course', :course => course %>
				<% end %>
			<% else %>
				It looks like you don't belong to any courses yet. <%= link_to 'Click here to request your first Vocat course', new_course_request_path %>.
			<% end %>
		</div>
	</div>

<% end %>
