<% content_for :content do %>

  <div class="page-section-header">
    <h4><strong>
      Greetings, <%= current_user.first_name %>
    </strong></h4>
  </div>

  <div class="page-section page-section-clear">
    <% if current_user.role == 'assistant' %>
      <%= render 'dashboard/messages/_assistant_message' %>
    <% elsif current_user.role == 'evaluator' %>
      <%= render 'dashboard/messages/evaluator_message' %>
    <% else %>
      <%= render 'dashboard/messages/creator_message' %>
    <% end %>
  </div>

  <% current_user.courses.each do |course| %>

    <% role = course.role(current_user) %>
    <% if role == :assistant %>
      <%= render 'dashboard/shared/assistant_course', :course => course %>
    <% elsif role == :evaluator %>
      <%= render 'dashboard/shared/evaluator_course', :course => course %>
    <% elsif role == :creator %>
      <%= render 'dashboard/shared/creator_course', :course => course, :hide_header => false %>
    <% end %>

  <% end %>
<% end %>
