<% content_for :content_header do %>
  Dashboard
<% end %>

<% content_for :content_header_links do %>
    <%= link_to 'Request Course', new_course_request_path, :class => 'teal-plus-button' %>
<% end %>

<% content_for :content_frames do %>

  <div class="evaluation-detail-frame">
    <%= render 'layouts/messages' %>

    <% if current_user.role == 'assistant' %>
      <%= render 'dashboard/messages/_assistant_message' %>
    <% elsif current_user.role == 'evaluator' %>
      <%= render 'dashboard/messages/evaluator_message' %>
    <% else %>
      <%= render 'dashboard/messages/creator_message' %>
    <% end %>
  </div>

  <% current_user.courses.each do |course| %>
  <% role = course.role(current_user) %>

  <div class="evaluation-detail-frame">
    <% if role == :assistant %>
      <%= render 'assistant_course', :course => course %>
    <% elsif role == :evaluator %>
      <%= render 'evaluator_course', :course => course %>
    <% elsif role == :creator %>
      <%= render 'creator_course', :course => course, :hide_header => false %>
    <% end %>
  </div>
  <% end %>
<% end %>
