<li data-model-id="{{id}}" class="evaluation-collection evaluation-collection-instructor">
	<div data-behavior="toggle-children">
		<div data-behavior="range" class="range range-expandable">
			<h4 class="range--title">
				Your Evaluation
			</h4>

			<div class="range--track">
				<span data-behavior="range-fill" style="width: {{total_percentage_rounded}}%"
					  class="range--fill"></span>

				<div class="range--handle"><b></b><span data-container="percentage">{{total_percentage_rounded}}</span>%
				</div>
			</div>
		</div>
	</div>
	<ul class="evaluation-single--details evaluations-hidden" data-behavior="child-container">
		<!-- criteria will be inserted here -->
		<li data-anchor="child-insert-before" data-behavior="subtotal">
			<div class="range-tertiary range-editable range-total">
				<div class="range--track-wrapper">
					<h4 class="range-total--label">Rubric Total</h4>

					<div class="range--handle">
						<div class="score-wrapper">
							<span class="score" data-container="subtotal-score">{{total_score}}</span>
							<span class="slash"></span>
							<span class="possible">{{points_possible}}</span>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li data-behavior="total">
			<div class="range-tertiary range-editable range-total">
				<div class="range--track-wrapper">
					<h4 class="range-total--label">Weighted Score</h4>

					<div class="range--handle">
						<div class="score-wrapper">
							<span class="score" data-container="total-score">{{total_score}}</span>
							<span class="slash"></span>
							<span class="possible">{{points_possible}}</span>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="range-tertiary range-editable range-total">
				<div class="range--track-wrapper">
					<h4 class="range-total--label">Visible To Student?</h4>

					<div class="range-total--value">
						<div class="switch {{#if published}}switch-checked{{/if}}">
							<input data-behavior="publish-switch" id="checkbox-{{cid}}"
								   {{#if published}}checked="checked"{{/if}} class="switch-checkbox" type="checkbox">
							<label for="checkbox-{{cid}}" class="switch-label">
						    <span class="switch-inner">
						      <span class="switch-text switch-active">Yes</span>
						      <span class="switch-text switch-inactive">No</span>
						    </span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</li>


		<li data-behavior="utility" class="evaluation-single--utility">
			<div>
				<a data-behavior="evaluation-save" class="primary-button update-button" href="#">Save Evaluation</a>
				<a data-behavior="evaluation-destroy" class="gentle-warning-button delete-button" href="#">Delete
					Evaluation</a>
			</div>

			<div style="margin-top: 20px; display: none" data-behavior="notice" class="alert alert-notice">
			</div>

		</li>
	</ul>


</li>
