  <td class="row-handle"><span></span></td>
  <th>
    <a href="projects/{{id}}">
    {{#if abilities.can_update}}
      <a href="projects/{{id}}/edit">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}
    </a>
  </th>
  <td style="width: 25%">{{rubric_name}}</td>
  <td style="width: 25%">
    <a class="delete-link" href="projects/{{id}}" data-behavior="destroy">Delete Project</a>
  </td>
