<% content_for :content do %>
	<% if @page == 1 %>
		<div class="page-message">
			<div class="header">
				<%= Date.today.strftime("%B %Y") %> Asset Statistics
			</div>
			<div class="body clearfix">
				<%= render "shared/stats", :stats => @stats %>
			</div>
		</div>

	<% end %>
	<div class="page-section">
		<div class="header-wrapper">
			<div class="header">
				<h2>Assets</h2>
			</div>
		</div>
		<div class="body">
			<form class="formgrid">
				<fieldset>
					<div class="formgrid">
						<div class="formgrid fourth">
							<%= label_tag :creator, 'Creator Name or Email', {:class => 'text-label'} %>
							<%= text_field_tag(:creator, params[:creator], {:class => 'text-input'}) %>
						</div>
						<div class="formgrid fourth">
							<%= label_tag :type, 'Asset Type', {:class => 'text-label'} %>
							<%= select_tag(:type, options_for_select(Asset.available_types { |type| [type.capitalize, type] }, params[:type]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
						</div>
						<div class="formgrid fourth">
							<label class="text-label">&nbsp;</label>
							<%= button_tag('Filter Assets', {:class => 'primary-button filter-button'}) %>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="page-section page-section-clear">
		<div class="table-wrapper">
			<table class="table table-white-head">
				<thead>
				<tr>
					<th>ID</th>
					<th>Thumbnail</th>
					<th>Created</th>
					<th>Source Size</th>
					<th>Variants</th>
					<th>Total Storage</th>
					<th>Type</th>
					<th>Associations</th>
					<th>State</th>
				</tr>
				</thead>
				<tbody>
				<% @assets.each do |asset| %>
					<tr>
						<td style="vertical-align: top"><%= link_to asset.id, submission_detail_path(asset.submission) %></td>
						<td style="vertical-align: top">
							<% if asset.processed? %>
							<img style="height: 50px;" src="<%= asset.thumbnail %>"/>
							<% end %>
						</td>
						<td style="vertical-align: top"><%= time_ago_in_words(asset.created_at).titlecase %> ago</td>
						<td style="vertical-align: top"><%= number_to_human_size asset.attachment.media_file_size unless !asset.attachment %></td>
						<td style="vertical-align: top; width: 20%">
							<% if asset.attachment %>
							<ul class="unstyled-list">
								<% asset.attachment.variants.each do |variant| %>
									<li>
										<a target="_blank" href="<%= variant.public_location %>">
											<%= variant.format %>
										</a>: <%= number_to_human_size variant.file_size %>
									</li>
								<% end %>
							</ul>
							<% end %>
						</td>
						<td style="vertical-align: top"><%= number_to_human_size asset.total_storage %></td>
						<td style="vertical-align: top"><%= asset.type.gsub!('Asset::', '').capitalize %></td>
						<td style="vertical-align: top">
							<p>
								Creator:<br /><%= link_to asset.creator, admin_user_path(asset.creator) %>
							</p>
							<p>
								Course:<br /><%= link_to (asset.course.format '%d%n %S %y [#%s]'), admin_course_path(asset.course) %>
							</p>
						</td>
						<td style="vertical-align: top"><%= asset.state.titlecase %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<nav class="pagination-only">
				<%= paginate @assets %>
			</nav>
		</div>
	</div>
<% end %>
