{{#if prevalidationError}}
<div class="alert alert-error">
  Unable to save due to the following errors: {{prevalidationError}}
</div>
{{else}}
<div class="alert alert-info">
  Rubric is currently valid
</div>
{{/if}}

{{#if validationError}}
<div class="alert alert-info">
  {{validationError}}
</div>
{{/if}}
<div class="rubric-table-wrap">
<table class="rubric-table table table-bordered table-striped">

	<thead>
		<th></th>
		{{#each rubric.fields}}
		<th class="field {{#if this.has_errors}}error{{/if}}">
		  <p>
  	    <span class="js-editable-input" data-id="{{this.id}}" data-property="name" data-placeholder="enter a name" data-collection="fields">{{this.name}}</span>
      </p>
		  <p>
  		  <span class="js-editable-textarea" data-id="{{this.id}}" data-property="description" data-placeholder="enter a description" data-collection="fields" style="font-weight: normal">{{this.description}}</span>
  	  </p>
  		<p class="pin-bottom">
        <a data-model="{{this.id}}" class="js-do-remove-field btn" href="#">remove</a>
      </p>
		</th>
		{{/each}}
		<th>
  		<form class="js-do-add-field">
        <input class="input-small" type="text" id="js-do-add-field-value" placeholder="New Field">
    	</form>
		</th>
	</thead>
	<tbody>
		{{#each rubric.ranges}}
		<tr>
			<th {{#if this.has_errors}}class="error"{{/if}}>

			  {{#if this.has_errors}}
        <div class="error-detail">
          <span class="arrow"></span>
          <ul>
          {{#each this.errors}}
            <li>{{this}}</li>
          {{/each}}
          </ul>
        </div>
			  {{/if}}
			  <p>
  			  <span class="js-editable-input" data-id="{{this.id}}" data-property="name" data-placeholder="enter a name" data-collection="ranges">{{this.name}}</span>
			  </p>
			  <p>
  			  <input id="js-range-{{this.id}}-low" data-model="{{this.id}}" data-type="low" min="1" class="range js-do-update-range" type="number" value="{{this.low}}">
	  			-
		  	  <input id="js-range-{{this.id}}-high" data-model="{{this.id}}" data-type="high" min="1" class="range js-do-update-range" type="number" value="{{this.high}}">
			  </p>

				<p>
          <a data-model="{{this.id}}" class="js-do-remove-range btn" href="#">remove</a>
        </p>
			</th>
			{{#each ../rubric.fields}}
			<td class="js-do-edit-detail" data-field="{{this.id}}" data-range="{{../this.id}}">
				<div id="js-cell-detail-container-{{this.id}}-{{../this.id}}" class="js-cell-detail-container cell-detail-container"></div>
				{{get_range_description_from_field this ../this 100}}
			</td>
			{{/each}}
			<td></td>
		</tr>
		{{/each}}
		<tr>
			<th>
    		<form class="js-do-add-range">
    			<input type="text" class="input-small" id="js-do-add-range-value" placeholder="New Range">
        </form>
			</th>
			{{#each rubric.fields}}
			<td></td>
			{{/each}}
			<td></td>
		</tr>
	</tbody>

</table>
</div>