<div class="rubric-index">
  <header class="bar-header">
    <h2 class="bar-header--title">Rubrics</h2>
    <% if @course %>
      <%= link_to 'New Rubric', new_course_manage_rubric_path(@course), :class => 'teal-plus-button' %>
    <% else %>
      <%= link_to 'New Rubric', new_rubric_path(), :class => 'teal-plus-button' %>
    <% end %>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @my_rubrics.each do |rubric| %>
      <tr>
        <th>
          <% if @course %>
            <%= link_to rubric.name, course_manage_rubric_path(@course, rubric), :class => 'table--heading' %>
          <% else %>
            <%= link_to rubric.name, rubric_path(rubric), :class => 'table--heading' %>
          <% end %>
        </th>
        <td><%= rubric.description %></td>
        <td>
          <strong>
            <% if @course %>
              <%= link_to 'Show', course_manage_rubric_path(@course, rubric) %>
            <% else %>
              <%= link_to 'Show', rubric_path(rubric) %>
            <% end %>
            <% if can? :update, rubric %>
              <% if @course %>
                &nbsp;/&nbsp;<%= link_to 'Edit', edit_course_manage_rubric_path(@course, rubric) %>
              <% else %>
                &nbsp;/&nbsp;<%= link_to 'Edit', edit_rubric_path(rubric) %>
              <% end %>
            <% end %>
            <% if can? :destroy, rubric %>
              <% if @course %>
                &nbsp;/&nbsp;<%= link_to 'Destroy', course_manage_rubric_path(@course, rubric), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                &nbsp;/&nbsp;<%= link_to 'Destroy', rubric_path(rubric), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </strong>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


