<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Assignment type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.name %></td>
    <td><%= assignment.description %></td>
    <td><%= assignment.assignment_type %></td>
    <td><%= link_to 'Show', organization_course_assignment_path(@organization, @course, assignment) %></td>
    <% if can? :update, assignment %>
      <td><%= link_to 'Edit', edit_organization_course_assignment_path(@organization, @course, assignment) %></td>
    <% end %>
    <% if can? :destroy, assignment %>
      <td><%= link_to 'Destroy', organization_course_assignment_path(@organization, @course, assignment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Assignment.new %>
  <%= link_to 'New Assignment', new_organization_course_assignment_path(@organization, @course) %>
<% end %>