<% content_for :content do %>
	<% body = capture do %>
		<%= devise_error_messages! %>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :patch, :class => 'formgrid'}) do |f| %>
			<% if @current_organization && @current_organization.ldap_enabled %>
				<div class="formgrid whole">
					<%= raw Rails.application.config.vocat.ldap.account_management_message %>
				</div>
			<% end %>

			<div class="formgrid half">
				<%= f.label :first_name, :class => 'text-label' %>
				<%= f.text_field :first_name, :autofocus => true, :class => 'text-input' %>
			</div>

			<div class="formgrid half">
				<%= f.label :last_name, :class => 'text-label' %>
				<%= f.text_field :last_name, :class => 'text-input' %>
			</div>

			<div class="formgrid half">
				<%= f.label :gender, {class: 'text-label'} %>
				<%= f.text_field :gender, {class: 'text-input'} %>
			</div>

			<% if !@current_organization.ldap_enabled || resource.org_identity.blank? %>
				<div class="formgrid half">
					<%= f.label :email, :class => 'text-label' %>
					<%= f.email_field :email, :class => 'text-input' %>
				</div>
				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>
			<% end %>

      <div class="formgrid whole">
        <%= f.label :avatar %>
        <label class="file" aria-label="File Browser" data-behavior="file-browser">
          <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url(:thumb), class: "preview-image", data: { region: 'avatar-preview' } %>
          <% end %>
          <%= f.file_field :avatar %>
          <%= f.check_box :avatar_delete, class: "file-delete", data: { behavior: 'file-delete' } %>
          <span class="file-overlay" data-behavior="file-display">
            <%= current_user.avatar.original_filename || "Choose File..." %>
          </span>
          <small class="input-message">Square images work best.  Image will be cropped to 300x300</small>
          <button type="button" class="file-clear" data-behavior="file-clear">
            Clear File
          </button>
        </label>
      </div>


			<div class="formgrid whole">
				<%= f.label :current_password, :class => 'text-label' %>
				<%= f.password_field :current_password, :class => 'text-input' %>
				<small class="input-message">We need your current password to confirm your changes</small>
			</div>

			<% if !@current_organization.ldap_enabled || resource.org_identity.blank? %>
				<div class="formgrid half">
					<%= f.label 'New Password', :class => 'text-label' %>
					<%= f.password_field :password, :autocomplete => "off", :class => 'text-input' %>
					<small class="input-message">Leave blank if you don't want to change it</small>
				</div>

				<div class="formgrid half">
					<%= f.label 'Retype New Password', :class => 'text-label' %>
					<%= f.password_field :password_confirmation, :class => 'text-input' %>
				</div>

			<% end %>

			<div class="formgrid whole submit">
				<%= f.button "Update", :class => 'primary-button update-button' %>
				<%= link_to "Back", :back, :class => 'secondary-button back-button' %>
			</div>

		<% end %>
	<% end %>
	<%= render :partial => 'shared/section', :locals => {:header => 'Edit Your Profile', :clear => true, :body => body} %>
<% end %>
