<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <label><%= f.label :email %></label>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="field">
    <label><%= f.label :password %></label>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <label><%= f.label :password_confirmation %></label>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <label>Role</label>
    <% User::ROLES.each do |role| %>
      <label class="radio">
        <%= radio_button(:resource, :role, role) %> <%= role %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <label>Organization</label>
    <%= collection_select(:organization, :id, Organization.all, :id, :name)  %>
  </div>


  <div class="form-actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
