<div data-behavior="show" class="portfolio-item--thumb">
	{{#if thumbnail }}
	<div class="thumb-container thumb-container-{{family}}">
		<a href="#">
			<img src="{{thumbnail}}">
		</a>
	</div>
	{{else}}
		<div class="thumb-container-placeholder">
			<a href="#">
				<span>{{attachment.state}}</span>
			</a>
		</div>
	{{/if}}
</div>
<div class="asset-collection-item--content">
	<h3 class="heading-tertiary">
		<a href="#" data-behavior="show">
			{{#if name}}
				{{name}}
			{{else}}
				{{titlecase family}} Submission
			{{/if}}
		</a>
	</h3>
	<h5 class="heading-informational">
		{{file_info}}
	</h5>
	<h5 class="heading-informational">
		Uploaded {{created_at}}
	</h5>
	<div data-behavior="manage-ui" class="asset-collection-item--utility">
		<div>
			<a href="#" style="display: inline-block" class="tertiary-button edit-button" data-behavior="rename">Rename</a>
			<a href="#" style="display: inline-block" class="tertiary-button move-button" data-behavior="move">Reorder</a>
		</div>
		<div>
			<a href="#" style="display: inline-block" class="warning-button delete-button" data-behavior="destroy">Delete</a>
		</div>
	</div>


</div>


