<div data-behavior="show" class="portfolio-item--thumb">
	{{#if_match family 'video'}}
		{{#if thumbnail }}
			<div class="thumb-container thumb-container-video">
				<a href="#">
					<img src="{{thumbnail}}">
				</a>
			</div>
		{{else}}
			<div class="thumb-container-placeholder">
				<a href="#">
					<span class="tight">{{to_upper attachment.state}}</span>
					<div class="processing-indicator">
						<div class="processing-indicator-1"></div>
						<div class="processing-indicator-2"></div>
					</div>
				</a>
			</div>
		{{/if}}
	{{/if_match}}
	{{#if_match family 'audio'}}
		<div class="thumb-container thumb-container-audio">
			<a href="#">
				<img src="/static_assets/images/audio_placeholder.png" />
			</a>
		</div>
	{{/if_match}}
	{{#if_match family 'image'}}
		{{#if thumbnail }}
			<div class="thumb-container thumb-container-image">
				<a href="#">
					<img src="{{thumbnail}}">
				</a>
			</div>
		{{else}}
			<div class="thumb-container-placeholder">
				<a href="#">
					<span class="tight">{{to_upper attachment.state}}</span>
					<div class="processing-indicator">
						<div class="processing-indicator-1"></div>
						<div class="processing-indicator-2"></div>
					</div>
				</a>
			</div>
		{{/if}}
	{{/if_match}}
</div>
<div class="asset-collection-item--content">
	<h3 class="heading-tertiary">
		<a href="#" data-behavior="show">
			{{#if name}}
				{{name}}
			{{else}}
				{{titlecase family}} Submission
			{{/if}}
		</a>
	</h3>
	<h5 class="heading-informational">
		{{file_info}}
	</h5>
	<h5 class="heading-informational">
		Uploaded {{created_at}}
	</h5>
	<div class="asset-collection-item--utility">
		<ul style="display: inline-block;" class="bubble" data-behavior="hide-on-manage">
			<li data-behavior="post-count">
				{{#if_match annotationCount 1}}
					{{annotationCount}} Annotation
				{{else}}
					{{annotationCount}} Annotations
				{{/if_match}}
			</li>
		</ul>
		<div data-behavior="show-on-manage">
			<a href="#" style="display: inline-block" class="tertiary-button edit-button" data-behavior="rename">Rename</a>
			<a href="#" style="display: inline-block" class="gentle-warning-button delete-button" data-behavior="destroy">Delete</a>
		</div>
		<div data-behavior="show-on-manage">
			<a style="display: inline-block; cursor: pointer;" class="tertiary-button down-button" data-behavior="move-down">Down</a>
			<a style="display: inline-block; cursor: pointer;" class="tertiary-button up-button" data-behavior="move-up">Up</a>
		</div>
	</div>


</div>


