<div class="portfolio-item--thumb">
	{{#if thumbnail }}
	<div class="thumb-container thumb-container-{{family}}">
		<a href="#">
			<img src="{{thumbnail}}">
		</a>
	</div>
	{{else}}
		<div class="thumb-container-placeholder">
			<a href="#">
				<span>{{attachment.state}}</span>
			</a>
		</div>
	{{/if}}
</div>
<div class="asset-collection-item--content">
	<h3 class="heading-tertiary">
		<a href="#" data-behavior="show">
			{{#if name}}
				{{name}}
			{{else}}
				{{titlecase family}} Submission
			{{/if}}
		</a>
	</h3>
	<h5 class="heading-informational">
		{{file_info}}
	</h5>
	<h5 class="heading-informational">
		Uploaded {{created_at}}
	</h5>
	<div class="asset-collection-item--utility">
		<a href="#" class="secondary-button" data-behavior="move">Move</a>
		<!-- <a href="#" class="secondary-button" data-behavior="replace">Replace</a> -->
		<a href="#" class="warning-button delete-button" data-behavior="destroy">Delete</a>
	</div>


</div>


