<!--
<div class="page-section--component-header strong centered">
	This Project Accepts {{join project.allowed_attachment_families capitalize=true }} Files
</div>
-->
	<div class="page-section--component asset-upload">

		<div class="asset-uploading" data-behavior="asset-uploading-message" style="display: none">
			<div class="progress-bar">
				<div data-behavior="progress-bar" class="progress-bar--fill"></div>
			</div>
			<span data-behavior="upload-status"></span>
		</div>

		<div data-behavior="upload-form-wrapper">
			<form data-behavior="upload-form" accept-charset="UTF-8" action="http://{{s3Bucket}}.s3.amazonaws.com" data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
				<input type="hidden" name="AWSAccessKeyId" value="{{AWSPublicKey}}" />
				<input type="hidden" name="acl" value="private" />
				<input type="hidden" name="success_action_status" value="200" />
				<input type="hidden" name="key" />
				<input type="hidden" name="policy" />
				<input type="hidden" name="signature" />
				<input style="display: none;" data-behavior="file-input" name="file" type="file" />

				<p class="instructions">
					This project accepts {{join project.allowed_attachment_families capitalize=false }} files. To add assets simply
					drag and drop files into the area below. You can also add files using your computer's file selection dialog, or
					add YouTube or Vimeo media by simply entering the appropriate URL.
				</p>

				<div class="clearfix">
					<div class="asset-upload--column asset-upload--column-left">
						<div data-behavior="dropzone" class="asset-upload--target">
							<a class="decorated" data-behavior="file-picker">Drag & Drop Files Here</a>
						</div>
					</div>

					<div class="asset-upload--column asset-upload--column-right">
						<div class="dark-text-input" data-behavior="file-input-trigger"><input disabled="disabled" type="text" placeholder="Select a file from your computer" /><a href="#" class="primary-button new-button">Add</a></div>
						<div class="dark-text-input"><input type="text" data-behavior="external-video-url" placeholder="Vimeo / YouTube URL" /><a href="#" class="primary-button new-button">Add</a></div>
					</div>
				</div>

				<p class="bottom-instructions">
					Successfully uploaded assets appear in the list below along with further editing and management options.
				</p>

			</form>
		</div>
	</div>


		<!--

-->

		<!--
		<div class="asset-uploading" data-behavior="asset-uploading-message" style="display: none">
			<div class="progress-bar">
				<div data-behavior="progress-bar" class="progress-bar--fill"></div>
			</div>
			Uploading...
		</div>

		<div data-behavior="upload-form-wrapper"
			 {{#if_include project.allowed_attachment_families "video"}}{{else}}class="asset-upload--two-col"{{/if_include}}>
			<form data-behavior="upload-form" accept-charset="UTF-8" action="http://{{s3Bucket}}.s3.amazonaws.com" data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
				<input type="hidden" name="AWSAccessKeyId" value="{{AWSPublicKey}}" />
				<input type="hidden" name="acl" value="private" />
				<input type="hidden" name="success_action_status" value="200" />
				<input type="hidden" name="key" />
				<input type="hidden" name="policy" />
				<input type="hidden" name="signature" />
				<div class="asset-upload--column asset-upload--file">
					<div class="wrapper">
					<span class="file-input-container">
							<input  data-behavior="file-input" name="file" type="file" />
							<a href="#" data-behavior="file-input-trigger" class="primary-button new-button">Select File to Upload</a>
						</span>
					</div>
				</div>
				<div data-behavior="dropzone" class="asset-upload--column asset-upload--target">
					<div class="wrapper">
							<a class="decorated" data-behavior="file-picker">
								Drag and Drop
							</a>
						</span>
					</div>
				</div>
			</form>
			{{#if_include project.allowed_attachment_families "video"}}
			<form data-behavior="external-video-form" accept-charset="UTF-8" id="video-external" method="post">
				<div class="asset-upload--column asset-upload--input">
					<div class="wrapper">
						<div class="formgrid-input">
							<input type="text" data-behavior="external-video-url" placeholder="Vimeo / YouTube URL" />
						</div>
					</div>
				</div>
			</form>
			{{/if_include}}
		</div>
-->
	<!--<div class="centered asset-done">-->
		<!--<a href="#" data-behavior="hide-manage" class="secondary-button close-button">Done</a>-->
	<!--</div>-->
