<h2 class="placard--title">{{fieldName}}</h2>
<hr>
{{#each descriptions}}
	<div data-low="{{rangeLow}}" data-high="{{rangeHigh}}">
		<h3 class="placard--subtitle"><strong>{{rangeLow}} - {{rangeHigh}}</strong> {{rangeName}}</h3>

		<p>
			{{rangeDescription}}
		</p>
		<hr>
	</div>
{{/each}}

