<div class="editable-inline">
{{#if editing}}
  <form>
    <textarea class="editable-inline-input" name="{{property}}" >{{#if value}}{{value}}{{else}}{{placeholder}}{{/if}}</textarea>
    <input type="submit" class="js-save btn" value="save" />
    {{#if value}}<a href="#" class="js-do-close btn">close</a>{{/if}}
  </form>
{{else}}
  <span class="js-do-open">
    {{#if value}}
      {{value}}
    {{else}}
      {{placeholder}}
    {{/if}}
  </span>
{{/if}}
</div>