<table class="table table-bordered course-map-table" >
  <thead>
  <tr>
    <td></td>
    <% @current_course.projects.each do |project| %>
      <th>
        <%=  link_to project.name, creator_course_map_project_detail_path(:project_id => project) %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @current_course.creators.each_with_index do |a_creator, index| %>
    <tr>
      <th <%= 'class=active' if a_creator == @creator %>>
        <%=  link_to a_creator.name, creator_course_map_creator_detail_path(:creator_id => a_creator) %>
      </th>
      <% if index == 0 %>
      <td colspan="<%= @current_course.projects.count %>" rowspan="<%= @current_course.creators.count + 1 %>" class="course-map-overlay">
        <div style="padding: 0 20px; position: relative;">
          <%=  link_to '×', creator_course_map_path, :class => "close" %>
          <h2><%= @creator.name %></h2>
          <div style="margin: 20px 0 30px">
            <%=  link_to "View all", creator_course_map_creator_detail_path(:creator_id => @creator), :class => "btn btn-mini" %>
            <% @current_course.projects.each do |project| %>
                <%=  link_to project.name, creator_course_map_submission_detail_path(:creator_id => @creator, :project_id => project), :class => project == @project ? "btn btn-mini btn-inverse" : "btn btn-mini" %>
            <% end %>
          </div>
          <div class="well">
            <%= render 'exhibits/evaluatable_exhibit_detail', :exhibit => @exhibit %>
          </div>
        </div>
      </td>
      <% end %>
    </tr>
  <% end %>
  <tr><td></td></tr>
  </tbody>
</table>