<table class="table table-bordered course-map-table" >
  <thead>
  <tr>
    <td></td>
    <% @current_course.projects.each do |project| %>
      <th <%= 'class=active' if project == @project %>>
        <%=  link_to project.name, creator_course_map_project_detail_path(:project_id => project) %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @current_course.creators.each_with_index do |creator, index| %>
    <tr>
      <th>
        <%=  link_to creator.name, creator_course_map_creator_detail_path(:creator_id => creator) %>
      </th>
      <% if index == 0 %>
        <td colspan="<%= @current_course.projects.count %>" rowspan="<%= @current_course.creators.count + 1 %>" class="course-map-overlay">
          <div style="padding: 0 20px; position: relative;">
            <%=  link_to '×', creator_course_map_path, :class => "close" %>
            <h2><%= @project.name %></h2>
            <div class="placeholder-blue">
              Project visualization
            </div>
            <div class="row">
              <p class="span1">Jump to:</p>
              <div class="span5">
                <select name="" id="">
                  <option value="">Creator Name</option>
                  <% @current_course.creators.each do |creator| %>
                      <option value="<%= creator.name %>"><%= creator.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <!--TODO separate into evaluated & unevaluated submissions, add link to individual submissions-->
            <h4>Submissions:</h4>
            <div class="row">
                <% @exhibits.each do |exhibit| %>
                  <div class="span3">
                    <div class="placeholder-red">
                      Submission title
                    </div>
                  </div>
                <% end %>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr><td></td></tr>
  </tbody>
</table>