<div data-behavior="player-container" class="player-container">
	{{#if_match family 'video'}}
        {{#if_match type 'Asset::Youtube'}}
            <video id="video-player" data-behavior="video-player" class="video-js vjs-default-skin" controls preload="auto"
                   data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{locations.url}}"}], "youtube": { "iv_load_policy": 3 } }'>
            </video>
        {{/if_match}}
        {{#if_match type 'Asset::Vimeo'}}
            <video id="video-player" data-behavior="video-player" class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "techOrder": ["vimeo"], "sources": [{ "type": "video/vimeo", "src": "{{locations.url}}"}] }'></video>
        {{/if_match}}
        {{#if_match type 'Asset::Video'}}
            <video id="video-player" data-behavior="video-player" class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "techOrder": ["html5"], "sources": [{ "type": "video/mp4", "src": "{{locations.mp4}}"}] }'></video>
            <!--
            <source src="/sample_transcoded.mp4" type="video/mp4" />
            <source src="/sample_transcoded.webm" type="video/webm" />
            -->
        {{/if_match}}
	{{/if_match}}
	{{#if_match family 'audio'}}
		<audio id="video-player" data-behavior="video-player" class="video-js vjs-default-skin" controls preload="auto">
			{{#if locations.mp3}}
				<source src="{{locations.mp3}}" type="audio/mp3"/>
			{{/if}}
			{{#if locations.mp4}}
				<source src="{{locations.mp4}}" type="audio/mp4"/>
			{{/if}}
		</audio>
	{{/if_match}}
</div>
