
{{#each creators}}
<ul class="matrix--row" data-creator="{{this.id}}">
  {{#each ../projects}}
  <li class="matrix--cell">
    {{#get_submission ../../submissions ../this this}}
      {{#if this}}
        <a href="{{url_for 'course_evaluations_for_creator_and_project' ../../../../courseId ../../../this.id ../../this.id}}" data-behavior="routable">
        {{#if has_uploaded_attachment}}
          <b class="matrix--cell--play">Play video</b>
        {{else}}
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
      	{{/if}}
        <h2 class="matrix--cell--value">
          {{#if scored_by_instructor }}
            {{instructor_score_percentage}}<small>%</small>
          {{else}}
            &ndash;&ndash;<small>%</small>
          {{/if}}
        </h2>
        </a>
        <div class="matrix--cell--indicator {{#if submission.published}}active{{/if}}">
          <b></b>
          {{#if submission.published}}
            Published
          {{else}}
            Unpublished
          {{/if}}
        </div>
      {{else}}
        <a href="{{url_for 'course_evaluations_for_creator_and_project' ../../../../courseId ../../../this.id ../../this.id}}" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">&ndash;&ndash;<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      {{/if}}
    {{/get_submission}}
  </li>
  {{/each}}
</ul>
{{/each}}
<ul class="matrix--row matrix--row-spacer">
    {{#each projects}}
    <li class="matrix--cell">
    </li>
    {{/each}}
</ul>