<div class="page-section-header">
  <h2 class="heading-page-section">Video</h2>
  <div class="page-content--heading-buttons">
      {{#if abilities.can_attach}}
      <a href="#" data-behavior="destroy" class="secondary-button">Delete Video</a>
      {{/if}}
  </div>
</div>
<div class="page-section">
  <div class="player-container">
    <video id="video-player" data-behavior="video-player"
    class="video-js vjs-default-skin" controls preload="auto" >

      {{#if is_youtube}}
      <source src="{{locations.url}}" type="{{source_details.mime}}" />
      {{/if}}

      {{#if is_vimeo}}
      <source src="{{locations.url}}" type="{{source_details.mime}}" />
      {{/if}}

      {{#if is_attachment}}
      <source src="{{locations.mp4}}" type="video/mp4" />
      <source src="{{locations.webm}}" type="video/webm" />
      {{/if}}

      <track kind="captions" src="/api/v1/videos/{{id}}.vtt" srclang="en" label="English" default>
    </video>
  </div>
</div>