<ul style="margin-bottom: 4rem;" class="js-toggle-detail-off frame-summary--score-list">
  <li data-behavior="percentage-bar" class="frame-summary--evaluated" style="padding-right: {{ invert total_percentage_rounded }}%">
    {{#unless current_user_is_owner}}
    <h4 class="frame-summary--score--title">{{evaluator_name}} - {{evaluator_role}}</h4>
    {{/unless}}
    <span class="frame-summary--score--value"><span data-score-total-percentage="true">{{total_percentage_rounded}}</span><small>%</small></span>
  </li>
  <li>
    <ul class="scoring-list">
      {{#each_property scores rubric=rubric}}
      <li data-key="{{property}}" data-help="rubric:field:{{property}}" >
        <div class="range-input">
          <input data-key="{{property}}" type="text" value="{{value}}" data-slider="true" >
          <div class="range-input--title">{{name}}</div>
        </div>
        <div class="scoring-list--output">
          <input data-key="{{property}}" data-slider-visible="true" class="scoring-list--value" type="text" disabled="disabled" value="{{value}}"><div class="scoring-list--ideal">{{../rubric.high_score}}</div>
        </div>
      </li>
      {{/each_property}}
      <li>
        <div class="scoring-list--label">Total</div>
        <div class="scoring-list--output">
          <div data-score-total="true" class="scoring-list--total"></div>
        </div>
      </li>
    </ul>
  </li>
</ul>

<a data-behavior="evaluation-destroy" class="small-teal-minus-button" href="#">Delete Evaluation</a>

<a {{#unless published}}style="display: none"{{/unless}} data-behavior="model-unpublish" class="small-teal-minus-button" href="#">Hide Evaluation</a>
<a {{#if published}}style="display: none"{{/if}}data-behavior="model-publish" class="small-teal-plus-button" href="#">Publish Evaluation</a>
<a style="float: right;" data-behavior="model-save" class="small-teal-arrow-button" href="#">Save Evaluation</a>
