<div class="authentication-tile alt">
  <h2 class="heading-caps-large">Reset Password</h2>
  <hr>
  <%= render 'layouts/messages' %>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group">
      <%= f.label 'Your email address', :class => 'text-label' %>
      <%= f.email_field :email, :autofocus => true, :class => "text-input" %>
    </div>
    <div class="input-group">
      <%= f.submit "Send me instructions", :class => "teal-arrow-button" %>
    </div>
  <% end %>
</div>

<footer class="authentication-footer">
  <%= render "devise/shared/links" %>
</footer>
