
<div data-behavior="{{#if assetHasDuration}}seek{{else}}activate{{/if}}" class="annotation-wrapper">
	<div class="annotation-left">
		<img src="{{gravatar}}" /><div class="annotation-utility">
			{{#if current_user_can_destroy}}
				<a href="#" class="annotation-delete-link" data-behavior="destroy"></a>
			{{/if}}
			{{#if current_user_can_edit}}
				<a href="#" class="annotation-edit-link" data-behavior="edit"></a>
			{{/if}}
		</div>
	</div>
	<div class="annotation-right">
		<div class="annotation-top">
			<div class="annotation-creator role-{{author_role}}">
				{{author_name}}
			</div>
			<div class="annotation-timestamp">
				{{# if hasDrawing}}
					<span class="annotation-drawing-indicator"></span>
				{{/if}}

				{{#if assetHasDuration}}
					<span data-behavior="timecode">{{smpte_timecode}}</span><br />
				{{else}}
					<span>{{created_at}}</span>
				{{/if}}
			</div>
		</div>
		<div class="annotation-bottom" data-behavior="annotation-body">
			<p>
				{{nltobr body}}
			</p>
		</div>
		<div class="annotation-fade"></div>
	</div>
</div>