<div class="annotation-left">
	<img src="{{gravatar}}" />
	<div class="annotation-utility">
		{{#if current_user_can_destroy}}
			<a href="#" class="delete-link" data-behavior="destroy">Delete</a>
		{{/if}}
		{{#if current_user_can_edit}}
			<a href="#" class="edit-link" data-behavior="edit">edit</a>
		{{/if}}
	</div>
</div>
<div class="annotation-right">
	<div class="annotation-top">
		<div class="annotation-title">
			{{#if assetHasDuration}}
				<span data-behavior="timecode">{{smpte_timecode}}</span><br />
				{{author_name}}
			{{else}}
				<span>{{created_at}}</span><br />
				{{author_name}}
			{{/if}}
			<div class="annotation-indicators"><!-- annotation type indocator goes here --></div>
		</div>
	</div>
	<p>
	 {{nltobr body}}
	</p>
</div>
