<div class="discussion-list--item">
<header class="discussion-list--header">
  <h3 class="discussion-list--name">{{post.author_name}}</h3>
  <time class="discussion-list--timestamp" datetime="">Posted {{post.month}} {{post.day}}, {{post.year}} at {{post.time}}</time>
  <img src="{{post.gravatar}}" alt="" />
</header>
<p>{{post.body}}</p>

{{#if post.current_user_can_reply}}

{{#if post.parent_id}}
<a class="discussion-list--link" data-behavior="reply" data-post="{{post.parent_id}}" href="#">Reply</a>
{{else}}
<a class="discussion-list--link" data-behavior="reply" data-post="{{post.if}}" href="#">Reply</a>
{{/if}}

{{#if post.current_user_can_destroy}}
<a class="ex-link" data-behavior="toggle-delete-confirm" href="#">Delete</a>
<div class="alert-warning" data-behavior="delete-confirm" style="display: none;" >
  <aside class="alert--label" data-behavior="alert-label"></aside>
  <p>Are you sure? <a data-behavior="delete" data-post="{{post.id}}" href="#">Yes. Delete this post.</a></p>
  <a class="alert--close" data-behavior="toggle-delete-confirm" href="#"></a>
</div>
{{/if}}

{{/if}}

</div>

{{#unless post.parent_id}}
<ul class="discussion-list" data-behavior="post-container">
</ul>
<div class="discussion-list--input-container" data-behavior="input-container" style="display: none">
  {{{post_input}}}
</div>
{{/unless}}
