<header class="discussion-list--header">
  <h3 class="discussion-list--name">{{post.author_name}}</h3>
  <time class="discussion-list--timestamp" datetime="">Posted {{post.month}} {{post.day}}, {{post.year}} at {{post.time}}</time>
  <img src="{{post.gravatar}}" alt="" />
</header>
<p>{{post.body}}</p>
<a class="discussion-list--link" href="">Reply</a>
