<ul>
	<li><%= link_to 'Rubric Overview', admin_rubric_path(rubric) %></li>
	<li><%= link_to 'Edit Rubric', edit_admin_rubric_path(rubric) %></li>
	<li><%= link_to 'Clone Rubric', clone_admin_rubric_path(rubric), :method => :post %></li>
	<li><%= link_to 'Export Data', export_admin_rubric_path(rubric) %></li>
	<li><%= link_to 'Delete', admin_rubric_path(rubric), :method => :delete, :data => {:modalconfirm => 'This action is not reversible. Are you sure you would like to proceed?'} %></li>
</ul>

