<% content_for :content_header do %>
  Rubrics
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Rubric List', admin_rubrics_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'Export' %>

  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th>Report Name</th>
        <th>Filters</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th style="width: 33%">Evaluations<br />
          <strong style="font-size: 1.374rem; color: #676263">This report includes a single entry for every evaluation that
            was scored using this rubric.</strong>
        </th>
        <td>
          <%= form_tag rubric_scores_admin_reports_path(@rubric), :method => :get do %>
            <fieldset>
              <div class="clearfix">
                <div class="input-group" style="width: 20rem; float: left;">
                    <%= label_tag :start_semester, 'From', {class: 'text-label'} %>
                    <%= select_tag(:start_semester, options_from_collection_for_select(Semester.all, 'id', 'name', params[:semester]), {'data-behavior' => 'chosen', 'data-placeholder' => 'Semester'}) %>
                    <%= select_tag(:start_year, options_for_select(Course.distinct_years, params[:year]), {'data-behavior' => 'chosen', 'data-placeholder' => 'Year'}) %>
                </div>
                <div class="input-group" style="width: 20rem; float: left;">
                    <%= label_tag :end_semester, 'To', {class: 'text-label'} %>
                    <%= select_tag(:end_semester, options_from_collection_for_select(Semester.all, 'id', 'name', params[:semester]), {'data-behavior' => 'chosen', 'data-placeholder' => 'Semester'}) %>
                    <%= select_tag(:end_year, options_for_select(Course.distinct_years, params[:year]), {'data-behavior' => 'chosen', 'data-placeholder' => 'Year'}) %>
                </div>
              </div>
              <div class="input-group">
                <%= label_tag :format, 'Export as', {class: 'text-label'} %>
                <%= submit_tag 'JSON', :name => :format, :class => 'small-teal-arrow-button' %>
                <%= submit_tag 'CSV', :name => :format, :class => 'small-teal-arrow-button' %>
              </div>
            </fieldset>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

<% end %>