<% content_for :content_header do %>
  Rubrics
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'Rubric Overview' %>

  <div class="clearfix space-bottom">

    <figure class="summary-box">
      <div>
        <b style="height: <%= @rubric.avg_percentage() %>%"></b>
        <span><%= round @rubric.avg_percentage(), 0 %></span><small>%</small>
      </div>
      <figcaption>Average Score</figcaption>
    </figure>

    <figure class="summary-box">
      <div>
        <b style="height: <%= @rubric.average_total_instructor_percentage() %>%"></b>
        <span><%= round @rubric.average_total_instructor_percentage(), 0 %></span><small>%</small>
      </div>
      <figcaption>Average Peer Score</figcaption>
    </figure>

    <figure class="summary-box">
      <div>
        <b style="height: <%= @rubric.average_total_peer_percentage() %>%"></b>
        <span><%= round @rubric.average_total_peer_percentage(), 0 %></span><small>%</small>
      </div>
      <figcaption>Average Instructor Score</figcaption>
    </figure>

    <figure class="summary-box">
      <div>
        <span><%= @rubric.evaluation_count %></span>
      </div>
      <figcaption>Evaluations using this rubric</figcaption>
    </figure>

    <figure class="summary-box">
      <div>
        <span><%= @rubric.projects.count %></span>
      </div>
      <figcaption>Projects using this rubric</figcaption>
    </figure>

  </div>

  <div class="table-wrapper">
  <%= render 'shared/rubric_show' %>
  </div>
<% end %>

