<%= render :partial => 'heading', :locals => {rubric: @rubric} %>

<% content_for :content do %>

	<% body = capture do %>
		<figure class="summary-box">
			<div class="no-icon">
				<span><%= round @rubric.avg_percentage(), 0 %>%</span>
			</div>
			<figcaption class="no-padding">Average Score</figcaption>
		</figure>

		<figure class="summary-box">
			<div class="no-icon">
				<span><%= round @rubric.average_total_instructor_percentage(), 0 %>%</span>
			</div>
			<figcaption class="no-padding">Average Peer Score</figcaption>
		</figure>

		<figure class="summary-box">
			<div class="no-icon">
				<span><%= round @rubric.average_total_peer_percentage(), 0 %>%</span>
			</div>
			<figcaption class="no-padding">Average Instructor Score</figcaption>
		</figure>

		<figure class="summary-box">
			<div class="no-icon">
				<span><%= @rubric.evaluation_count %></span>
			</div>
			<figcaption class="no-padding">Evaluations using this rubric</figcaption>
		</figure>

		<figure class="summary-box">
			<div class="no-icon">
				<span><%= @rubric.projects.count %></span>
			</div>
			<figcaption class="no-padding">Projects using this rubric</figcaption>
		</figure>
	<% end %>
	<%= render :partial => 'shared/section', :locals => {:header => 'Overview', :body => body} %>

	<div class="page-section">
		<div class="table-wrapper">
			<%= render 'shared/rubric_show' %>
		</div>
	</div>


<% end %>

