<div class="formgrid whole">
	<%= label_tag :name, 'Name', {class: 'text-label'} %>
	<%= text_field :organization, :name, {class: 'text-input'} %>
</div>
<div class="formgrid third">
	<%= label_tag :subdomain, 'Subdomain', {class: 'text-label'} %>
	<%= text_field :organization, :subdomain, {class: 'text-input'} %>
	<small>Value must be unique within this Vocat installation.</small>
</div>
<div class="formgrid third" data-behavior="file-input">
	<%= f.label 'Logo', :class => 'text-label' %>
	<%= file_field :organization, :logo, {style: 'display: none', data: {behavior: 'file-input-field'}} %>
	<div class="file-input" data-behavior="file-input-trigger"><input disabled="disabled" data-behavior="file-input-mask" type="text" placeholder="Select Logo File"><a href="#" class="primary-button new-button">Select</a></div>
	<small></small>
</div>
<div class="formgrid third">
	<%= f.label 'Organization Status', :class => 'text-label' %>
	<%= f.select :active, options_for_select([
												   ['Active', true],
												   ['Inactive', false]
										   ], @organization.active), {:include_blank => false}, {'data-behavior' => 'chosen'} %>
	<small>Users belonging to inactive organizations will not be able to login to Vocat.</small>
</div>