<div class="page-section--subsection course-synopsis-pane subheader">
  <div class="padded-container">
    <div class="info-container">
      <%= admin_nav_link 'All Courses', admin_courses_path, params %>
      <%= admin_nav_link 'Course Requests', admin_course_requests_path, params %>
      <%= admin_nav_link 'Users', admin_users_path, params %>
      <%= admin_nav_link 'Assets', admin_assets_path, params %>
      <%= admin_nav_link 'Rubrics', admin_rubrics_path, params %>
      <%= admin_nav_link 'Semesters', admin_semesters_path, params %>
    </div>
  </div>
</div>
