<div class="page-section--subsection course-synopsis-pane subheader">
  <div class="padded-container">
    <div>
      <div>
        <div class="info-container">
          <%= link_to 'All Courses', admin_courses_path, class: (params[:controller] == 'admin/courses' ? "active" : "") %>
          <%= link_to 'Course Requests', admin_course_requests_path, class: (params[:controller] == 'admin/course_requests' ? "active" : "") %>
          <%= link_to 'Manage Users', admin_users_path, class: (params[:controller] == 'admin/users' ? "active" : "") %>
          <%= link_to 'Assets', admin_assets_path, class: (params[:controller] == 'admin/assets' ? "active" : "") %>
          <%= link_to 'Rubrics', admin_rubrics_path, class: (params[:controller] == 'admin/rubrics' ? "active" : "") %>
        </div>
      </div>
    </div>
  </div>
</div>