<% content_for :backbone_bootstrap do %>
    div = $('<div></div>')
    div.html($('#<%= "bootstrap-#{key}" %>').text());
    data = JSON.parse(div.text());
    window.Vocat.Bootstrap.Collections.<%= key %> = data.<%= key %>;
<% end %>

<script type="text/json" id="bootstrap-<%= key %>">
  { "<%= key %>": <%= serialize_for_bootstrap data, @current_user %> }
</script>
