<div class="page-section--subsection course-synopsis-pane">
  <div class="padded-container">
    <div class="heading-container">
      <%= link_to course_path(course) do %>
        <div class="course-id">
          <%= course.department + ' ' + course.number %>
        </div>
        <div class="course-details">
          <%= course.name %>
        </div>
        <div class="course-details">
          Section <%= course.section %>
        </div>
      <% end %>
    </div>

    <div class="submission-links info-container">
      <div>
        <%= link_to 'STUDENT WORK', course_user_evaluations_path(course) %>
      </div>
      <div>
        <%= link_to 'GROUP WORK', course_group_evaluations_path(course) %>
      </div>
    </div>
  </div>

  <div class="clearfix synopsis-footer info-container">
    <div style="position: absolute; right: 0px;">
      <%= link_to course_manage_projects_path(course) do %>
          <div class="stats">
            PROJECTS: <span><%= course.projects.count %></span>
          </div>
      <% end %>
      <%= link_to course_manage_enrollment_path(course) do %>
          <div class="stats">
            STUDENTS: <span><%= course.creators.count %></span>
          </div>
      <% end %>
      <%= link_to course_manage_groups_path(course) do %>
          <div class="stats">
            GROUPS: <span><%= course.groups.count %></span>
          </div>
      <% end %>
    </div>
  </div>
</div>