<div class="page-section--subsection course-synopsis-pane subheader" data-behavior="course-subheader">
  <div class="padded-container">
    <div>
      <div class="heading-container">
        <i class="header-icon"></i>
        <div class="course-id">
          <%= course.department + ' ' + course.number %>
        </div>
        <div class="course-details">
          <%= course.name %>
        </div>
        <div class="course-details">
          Section <%= course.section %>
        </div>
      </div>

      <div>
        <div class="info-container">
          <% if current_user.role?(:creator) %>
              <%= link_to "PEER WORK", course_user_evaluations_path(course), class: (@type == 'user' ? "active" : ""), data: {behavior: 'view-toggle'} %>
          <% else %>
              <%= link_to "STUDENT WORK", course_user_evaluations_path(course), class: (@type == 'user' ? "active" : ""), data: {behavior: 'view-toggle'} %>
          <% end %>
            <%= link_to 'GROUP WORK', course_group_evaluations_path(course), class: (@type == 'group' ? "active" : ""), data: {behavior: 'view-toggle'} %>
          <div style="display: inline;">
            <% if current_user.can?(:administer, @selected_course) %>
                <div class="dropdown dropdown-inline" data-behavior="dropdown">
                  <a class="dropdown--toggle <%= 'active' if @type == 'manage'%>" data-behavior="toggle" href="#">
                    <span>Setup Course</span>
                  </a>

                  <div class="dropdown--options" data-behavior="dropdown-options">
                    <ul>
                      <li><%= link_to 'Projects', course_manage_projects_path(@selected_course) %></li>
                      <li><%= link_to 'Groups', course_manage_groups_path(@selected_course) %></li>
                      <li><%= link_to 'Enrollment', course_manage_enrollment_path(@selected_course) %></li>
                      <li><%= link_to 'Settings', course_manage_path(@selected_course) %></li>
                      <li><%= link_to 'Rubrics', course_manage_rubrics_path(@selected_course) %></li>
                    </ul>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
