<div class="course-synopsis-pane">
  <div class="padded-container">
    <div class="heading-container">
      <i class="header-icon"></i>
        <%= render 'dashboard/shared/course_header', course: course %>
    </div>

    <% if current_user.can?(:show_submissions, course) %>
      <%= render 'dashboard/shared/submission_links', course: course %>
    <% end %>
  </div>

  <div class="clearfix synopsis-footer info-container">
    <%= render 'dashboard/shared/course_stats', course: course %>
    <% if current_user.has_unreviewed_work?(course.id) && current_user.can?(:show_submissions, course) %>
      <div>
        <% if evaluator_or_admin? %>
          <%= link_to 'New work is awaiting your review.', course_path(course), class: 'alt new-work-link' %>
        <% else %>
          <%= link_to 'Peer work is awaiting your review.', course_path(course), class: 'alt new-work-link' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
