<div data-behavior="figures">
	<% stats.each do |stat| %>

		<figure class="summary-box <%= if stat.has_key?(:class) then stat[:class] else 'summary-box-default ' end %>">
			<div class="summary-box--content">
				<p class="summary-box--content-wrapper">
					<% if stat.has_key?(:is_file_size) && stat[:is_file_size] == true %>
						<% size, unit = size_and_unit_from_number(stat[:value]) %>
						<span><%= size %></span>
						<span class="unit"><%= unit%></span>
					<% elsif stat.has_key?(:unit) %>
						<span><%= stat[:value] %></span>
						<span class="unit"><%= stat[:unit] %></span>
					<% else %>
						<span><%= number_to_human stat[:value], :format => '%n' %></span>
						<span class="unit"><%= number_to_human stat[:value], :format => '%u' %></span>
					<% end %>
				</p>
			</div>
			<figcaption><%= stat[:label] %></figcaption>
		</figure>
	<% end %>
</div>
