<div class="page-section--subsection page-section--subsection-ruled portfolio-item">
  <div class="portfolio-item--thumb">
	  <%= render 'shared/submission_thumbnail', :submission => submission %>
  </div>
  <div class="portfolio-item--content">
    <h3 class="heading-tertiary">
      <%= link_to submission.project, submission_detail_path(submission) %>
      <% if submission.creator_type == 'Group' %>
        <span class="badge">group</span>
      <% end %>
    </h3>

    <h5 class="heading-informational">
    <% if submission.has_video? %>
      Submitted <%= submission.video.created_at.strftime('%B %e, %Y at %l:%M %p') %>
    <% else %>
      No submission has been uploaded for this project.
    <% end %>
    </h5>

    <% if submission.project.evaluatable? %>

      <% if submission.course_allows_peer_review? %>
        <% if submission.evaluated_by_peers? %>
          <figure class="summary-box summary-box-peer">
            <div>
              <b style="height: <%=  (submission.peer_score_percentage || 0).to_int %>%"></b>
              <span><%= (submission.peer_score_percentage || 0).to_int %>%</span>
            </div>
            <figcaption>Average<br>Peer<br>Score</figcaption>
          </figure>
        <% else %>
          <figure class="summary-box summary-box-empty">
            <div>
              <span class="empty">Awaiting<br/>Scores</span>
            </div>
            <figcaption>Average<br>Peer<br>Score</figcaption>
          </figure>
        <% end %>
      <% end %>

      <% if submission.project.evaluatable? %>
        <% if submission.evaluated_by_instructor? %>
          <figure class="summary-box summary-box-evaluator">
            <div>
              <b style="height: <%=  (submission.instructor_score_percentage || 0).to_int %>%"></b>
              <span><%= (submission.instructor_score_percentage || 0).to_int %>%</span>
            </div>
            <figcaption>Average<br>Instructor<br>Score</figcaption>
          </figure>
        <% else %>
          <figure class="summary-box summary-box-empty">
            <div>
              <span class="empty">Awaiting<br/>Scores</span>
            </div>
            <figcaption>Average<br>Instructor<br>Score</figcaption>
          </figure>
        <% end %>
      <% end %>
    <% end %>

    <figure class="summary-box
      <%= submission.discussion_posts_count > 0 ? 'summary-box-creator' : 'summary-box-empty' %>
      ">
      <div>
        <span><%= submission.discussion_posts_count() %></span>
      </div>
      <figcaption>
        Comments<br>
        <% if submission.new_posts_for_user?(current_user) %>
          <span class="badge">New</span>
        <% end %>

      </figcaption>
    </figure>

    <% if submission.has_video? %>
      <figure class="summary-box
      <%= submission.video.annotations.count() > 0 ? 'summary-box-creator' : 'summary-box-empty' %>
      ">
        <div>
          <span><%= submission.video.annotations.count() %></span>
        </div>
        <figcaption>Annotations</figcaption>
      </figure>
    <% end %>
  </div>
</div>
