<div class="page-section--subsection page-section--subsection-ruled portfolio-item">

	<div class="portfolio-item--thumb">
		<%= render 'shared/submission_thumbnail', :submission => submission %>
	</div>
	<div class="portfolio-item--content">
		<h3 class="heading-tertiary header">
			<%= link_to submission.project, submission_detail_path(submission) %>
      <% if submission.creator_type == 'Group' %>
          <i class="header-icon people"></i>
      <% end %>
		</h3>

		<h5 class="heading-informational">
			<% if submission.has_asset? %>
				Submitted <%= submission.first_asset.created_at.strftime('%B %e, %Y at %l:%M %p') %>
			<% end %>
		</h5>

		<% if submission.project.evaluatable? %>

			<% if submission.project_allows_peer_review? %>
					<figure class="summary-box">
						<div>
              <i class="peer-icon"></i>
              <% if submission.evaluated_by_peers? %>
							  <span><%= (submission.peer_score_percentage || 0).to_int %>%</span>
              <% else %>
                <span class="smaller-font">Awaiting<br/>Scores</span>
              <% end %>
						</div>
						<figcaption>Average<br>Peer<br>Score</figcaption>
					</figure>
			<% end %>

      <figure class="summary-box">
        <div>
          <i class="instructor-icon"></i>
          <% if submission.evaluated_by_instructor? %>
            <span><%= (submission.instructor_score_percentage || 0).to_int %>%</span>
          <% else %>
            <span class="smaller-font">Awaiting<br/>Score</span>
          <% end %>
        </div>
        <figcaption>Average Instructor Score</figcaption>
      </figure>

      <% if submission.project_allows_self_evaluation? %>
        <figure class="summary-box">
          <div>
            <i class="self-icon"></i>
            <% if submission.user_score_total(current_user) %>
              <span><%= (submission.user_score_total(current_user) || 0).to_int %>%</span>
            <% else %>
              <span class="smaller-font">Awaiting<br/>Scores</span>
            <% end %>
          </div>
          <figcaption>Self Evaluation Score</figcaption>
        </figure>
      <% end %>

    <% end %>

		<figure class="summary-box">
			<div>
        <i class="comments-icon"></i>
				<span><%= submission.discussion_posts_count() %></span>
			</div>
			<figcaption>Comments</figcaption>
		</figure>

		<% if submission.has_asset? %>
			<figure class="summary-box">
				<div>
          <i class="annotations-icon"></i>
					<span><%= submission.first_asset.annotations.count() %></span>
				</div>
				<figcaption>Annotations</figcaption>
			</figure>
		<% end %>

	</div>
</div>
