<div class="cell--container">
	{{#if is_loaded}}
		<dl class="cell--media">
	    <dt>Media</dt>
		  <dd>
		    {{#if has_asset}}
		    <b class="matrix--check"></b>
		    {{else}}
		    <b></b>
		    {{/if}}
		  </dd>
		</dl>

		{{#if_empty current_user_percentage }}
			{{#if_empty instructor_score_percentage}}
				<dl class="cell--score">
					<dt>Average</dt>
					<dd>
						<b class="matrix--scored">&ndash;&ndash;</b>
					</dd>
				</dl>
			{{else}}
				<dl class="cell--score">
					<dt>Average</dt>
					<dd>
						<b class="matrix--scored">{{to_i instructor_score_percentage}}<small>%</small></b>
					</dd>
				</dl>
			{{/if_empty}}
		{{else}}
		<dl class="cell--score">
			<dt>Score</dt>
			<dd>
				<b class="matrix--scored">{{to_i current_user_percentage}}<small>%</small></b>
			</dd>
		</dl>
		<dl class="cell--published">
				<dt>Published</dt>
				<dd>
		      {{#if current_user_published}}
			      <b data-behavior="publish-toggle" class="matrix--checkbox checked"></b>
		      {{else}}
			      <b data-behavior="publish-toggle" class="matrix--checkbox "></b>
		      {{/if}}
	      </dd>
		</dl>
		{{/if_empty}}
	{{else}}
		<span class="cell--message">Loading ...</span>
	{{/if}}
</div>
