<div class="cell--container">
	{{#if is_loaded}}
		<dl class="cell--media">
			<dt>Media</dt>
			<dd>
                {{#if has_asset}} <!-- does the submission have any assets? -->
                    <b class="matrix--checkbox checked"></b>
                {{else}}
                    <b class="matrix--checkbox "></b>
                {{/if}}
			</dd>
		</dl>
		{{#if can_be_evaluated }} <!-- can the submission be evaluated? (does the project have a rubric?) -->
			<dl class="cell--published">
				<dt>Published</dt>
                <dd class="switch {{#if current_user_published}}switch-checked{{/if}} {{#unless current_user_percentage}}disabled{{/unless}}" data-behavior="publish-toggle">
                    <input id="checkbox-{{cid}}" {{#if current_user_published}}checked="checked"{{/if}} class="switch-checkbox" type="checkbox">
                    <label for="checkbox-{{cid}}" class="switch-label">
                        <span class="switch-inner">
                          <span class="switch-text switch-active">Yes</span>
                          <span class="switch-text switch-inactive">No</span>
                        </span>
                    </label>
                </dd>
            </dl>
            {{#if current_user_percentage}} <!-- has the current user evaluated the submission? -->
                <span class="cell--message cell--message-pinned" >SCORE: <span style="color: #414141">{{ to_i current_user_percentage }}%</span></span>
            {{else}}
                <span class="cell--message cell--message-pinned" >SCORE: <span style="color: #414141">&mdash;</span></span>
            {{/if}}
            {{#if instructor_score_percentage }} <!-- is there an instructor average score? -->
                <span class="cell--message cell--message-pinned" style="right: 0;">AVERAGE: <span style="color: #414141">{{to_i instructor_score_percentage}}%</span></span>
            {{ else }}
                <span class="cell--message cell--message-pinned" style="right: 0;">AVERAGE: <span style="color: #414141">&mdash;</span></span>
            {{/if}}
        {{ else }}
            <dl class="cell--published">
                <dt>Feedback</dt>
                <dd>
                    {{#if user_left_feedback}} <!-- has the current user has annotated or made a discussion post on the submission? -->
                        <b class="matrix--checkbox checked"></b>
                    {{else}}
                        <b class="matrix--checkbox "></b>
                    {{/if}}
                </dd>
            </dl>
            {{#if comments_count }}  <!-- are there discussion posts on the submission? -->
                <span class="cell--message cell--message-pinned" style="width: 100%">COMMENTS: <span style="color: #414141">{{ to_i comments_count }}</span></span>
            {{ else }}
                <span class="cell--message cell--message-pinned" style="width: 100%">COMMENTS: <span style="color: #414141">&mdash;</span></span>
            {{/if}}
		{{/if}}
	{{else}}
		<span class="cell--message">Loading...</span>
	{{/if}}
</div>
