<div class="page-content--heading">
	<a class="header-link back-link" data-behavior="detail-close"
	   href="/courses/{{courseId}}/{{to_lower creatorType}}s/evaluations">Back to Evaluations</a>

	<h1 class="heading-primary">
		Course Portfolio
		{{#if_match creatorType 'Group'}}
			<span class="badge">group</span>
		{{/if_match}}
	</h1>

	<h2 class="heading-secondary">
		{{#if_match creatorType 'Group'}}
			<a href="#" data-behavior="open-group-modal">{{name}}
			</a>
		{{else}}
			{{name}}
		{{/if_match}}
	</h2>
</div>

<div class="page-section-spacing-top page-section">
	<div class="body">
		<div data-behavior="load-indicator"><span class="primary-button loading">Loading creator's portfolio...</span>
		</div>
		<div data-container="submission-summaries">
		</div>
	</div>
</div>
