<a href="#" class="matrix--overlay-header-close" data-behavior="overlay-close">Close</a>
<div class="matrix--overlay-header-wrapper">
  <h2 class="matrix--overlay-header-title">{{creator.name}}</h2>{{#if project.name}}<h3 class="matrix--overlay-header-subtitle">{{project.name}}</h2>{{/if}}
</div>
<nav class="matrix--overlay-header-selector" data-behavior="dropdown">
  <a class="project-selector--toggle" data-behavior="toggle" href="#">
      {{#if creator.id}}
        View submission
      {{else}}
        {{#if project.id}}
          View submission
        {{/if}}
      {{/if}}
  </a>
  <div class="project-selector--dropdown" data-behavior="dropdown-options">
    <ul>
      {{#if creator.id}}
        {{#each ../projects}}
          <li><a data-behavior="routable" href="/courses/{{../../courseId}}/evaluations/creator/{{../../creator.id}}/project/{{this.id}}"><strong>{{this.name}}</strong></a></li>
        {{/each}}
      {{else}}
        {{#if ../project.id}}
          {{#each ../../creators}}
            <li><a data-behavior="routable" href="/courses/{{../../../courseId}}/evaluations/creator/{{this.id}}/project/{{../../../project.id}}"><strong>{{this.name}}</strong></a></li>
          {{/each}}
        {{/if}}
      {{/if}}
    </ul>
  </div>
</nav>
