<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<header class="evaluation-detail--header">
			<h1 class="evaluation-detail--title">{{project.name}}</h1>
			<aside>
				<h2 class="evaluation-detail--subtitle"><strong>{{project.course_department}}{{project.course_number}} :</strong> {{project.course_name}}</h2>
				<h2 class="evaluation-detail--subtitle"><em>{{creator.name}}</em></h2>
			</aside>
		</header>
		<figure class="attachment">
			<div data-behavior="player-view"></div>
			<figcaption data-behavior="annotations-view"></figcaption>
		</figure>
		<div data-behavior="annotator-view"></div>
		<div class="box" data-behavior="upload-view"></div>
	</div>
	<div class="evaluation-detail-frame" data-behavior="score-view"></div>
	<div class="evaluation-detail-frame" data-behavior="discussion-view"></div>
</div>
