<%= form_errors(@course) %>

<div class="model-form--row">
  <%= f.label :name %>
  <%= f.input_field :name%>
</div>

<div class="model-form--row">
  <%= f.label :description %>
  <%= f.input_field :description %>
</div>

<div class="model-form--row">
  <%= f.label :rubric %>
  <%= f.input_field :rubric_id, collection: current_user.rubrics %>
</div>

