<%= form_errors(@course) %>

<div class="model-form--row">
  <%= f.label :name %>
  <%= f.input_field :name%>
</div>

<div class="model-form--row">
  <%= f.label :description %>
  <%= f.input_field :description %>
</div>

<div class="model-form--row">
  <%= f.label :rubric %>
  <%= f.select :rubric_id,
               grouped_options_for_select(
                   {
                       'My Rubrics' => options_from_collection_for_select(current_user.rubrics, :id, :name, @project.rubric_id),
                       'VOCAT Rubrics' => options_from_collection_for_select(Rubric.public, :id, :name, @project.rubric_id)
                   }
               )
  %>

</div>

