<%= form_errors(@course) %>

<div class="model-form--row">
  <%= f.label :name %>
  <%= f.input_field :name, class: "span6" %>
</div>

<div class="model-form--row">
  <%= f.label :description %>
  <%= f.input_field :description, style: "height: 100px", class: "span6" %>
</div>

