<div class="range {{range_class}}">
  <h4 class="range--title">
    {{ title }}
  </h4>
  <div class="range--track">
	  <div style="right: {{ invert percentage }}%" class="range--handle"><b>{{to_i percentage}}%</b></div>
	  <span style="width: {{ percentage }}%" class="range--fill"></span>
  </div>
</div>
