<ul class="frame-summary--score-list">
  {{#if submission.current_user_has_evaluated}}
  <li class="frame-summary--evaluated" style="padding-right: {{ invert submission.current_user_percentage }}%">
    <h4 class="frame-summary--score--title">Your Evaluation</h4>
    <span class="frame-summary--score--value">{{ to_i submission.current_user_percentage }}<small>%</small></span>
  </li>
  {{else}}
  <li class="frame-summary--unevaluated">
    <h4 class="frame-summary--score--title">Your Evaluation</h4>
    <span class="frame-summary--score--value">&ndash;&ndash;&nbsp;&nbsp;</span>
  </li>
  {{/if}}
  {{#if submission.peer_score_percentage}}
  <li class="frame-summary--evaluated" style="padding-right: {{ invert submission.peer_score_percentage }}%">
    <h4 class="frame-summary--score--title">Peer Evaluations</h4>
    <span class="frame-summary--score--value">{{ to_i submission.peer_score_percentage }}<small>%</small></span>
  </li>
  {{else}}
  <li class="frame-summary--unevaluated">
    <h4 class="frame-summary--score--title">Peer Evaluations</h4>
    <span class="frame-summary--score--value">&ndash;&ndash;&nbsp;&nbsp;</span>
  </li>
  {{/if}}
</ul>
