<div class="portfolio-frame">
<figure class="frame-attachment">
	{{#if submission.has_uploaded_attachment}}
  {{#if submission.thumb}}
  <img class="frame-attachment--image" src="{{submission.thumb}}"/>
  {{else}}
  <div class="attachment-placeholder">
  </div>
  {{/if}}
  <figcaption class="frame-attachment--details">
    <nav class="comments-nav">
      <ul>
        <li>
          <a data-behavior="routable" href="/courses/{{submission.course_id}}/evaluations/creator/{{submission.creator_id}}/project/{{submission.project_id}}">12</a>
        </li>
        <li>
         <a data-behavior="routable" href="/courses/{{submission.course_id}}/evaluations/creator/{{submission.creator_id}}/project/{{submission.project_id}}">3 New</a>
        </li>
      </ul>
    </nav>
		{{#if showCourse}}
    <a data-behavior="routable" class="frame-attachment--link" href="/courses/{{submission.course_id}}/evaluations/creator/{{submission.creator_id}}/project/{{submission.project_id}}">See All Comments</a>
    {{/if}}
  </figcaption>
  {{else}}
  <div class="attachment-placeholder">
	  {{#if submission.current_user_can_attach}}
	  <a data-behavior="routable" class="attachment-placeholder--button" href="#">Upload video now</a>
	  {{else}}
	  <span class="attachment-placeholder--message">No video has been uploaded</span>
	  {{/if}}
  </div>
	{{/if}}
</figure><!-- removes whitespace between columns
--><div class="frame-summary">
    <h2 class="frame-summary--title">
      <a data-behavior="routable" href="/courses/{{submission.course_id}}/evaluations/creator/{{submission.creator_id}}/project/{{submission.project_id}}">{{submission.project_name}}</a>
    </h2>
		{{#if showCreator}}
    <h3 class="frame-summary--creator">
      <a data-behavior="routable" href="/courses/{{submission.course_id}}/evaluations/creator/{{submission.creator_id}}">{{submission.creator_name}}</a>
    </h3>
		{{/if}}
		{{#if showCourse}}
    <h3 class="frame-summary--course"><a data-behavior="routable" href="/courses/{{submission.course_id}}/evaluations"><strong>{{submission.course_department}}{{submission.course_number}} </strong> {{submission.course_name}} [Section {{submission.course_section}}]</a></h3>
		{{/if}}
		{{> templates_partials_scoreSummary}}
		<a class="frame-summary--link" data-behavior="routable" href="/courses/{{submission.course_id}}/evaluations/creator/{{submission.creator_id}}/project/{{submission.project_id}}">Expand Scores</a>
    <!-- TODO has 'active' class only when published -->
    <aside class="frame-summary--status {{#if submission.published}}active{{/if}}">
	    {{#if submission.published}}
	    published
	    {{else}}
	    unpublished
	    {{/if}}
    </aside>
  </div>
</div>