<div class="padded-container">
    <div class="portfolio-item--content">
        <h3 class="project-name-header" style="font-family: 'proxima-nova-condensed'; font-weight: 400; margin-top: 0; text-transform: none; font-size: 26px; letter-spacing: normal;">
            <a href="{{submission.path}}" data-behavior="open-submission-detail">{{submission.project.name}}</a>
            {{#if isGroupProject }}
                <i class="icon people"></i>
            {{/if}}
            {{#if project.due_date}}
                <div class="due-date">
                    Due {{project.due_date}} %>
                </div>
            {{/if}}
        </h3>
    </div>
    {{#if submission.has_asset}}
        {{#each submission.assets}}
        <div class="portfolio-item--thumb">
            <div class="thumb-container thumb-container-video">
                <a href="{{../submission.path}}" data-behavior="open-submission-detail">
                    <img src="{{thumbnail}}"/>
                </a>
            </div>
        </div>
        {{/each}}
    {{else}}
        <div class="portfolio-item--thumb">
            <div class="thumb-container-placeholder">
                <a href="{{submission.path}}">
                    <span>Awaiting Attachment Upload</span>
                </a>
            </div>
        </div>
    {{/if}}
</div>
<div class="submission-footer info-container padded-container">
    {{#if submission.project.evaluatable}}
        <div class="footer-item">
            <i class="instructor-icon"></i>
            {{#if submission.evaluated_by_instructor}}
                <span class="icon-value">{{to_i submission.instructor_score_percentage}}%</span>
            {{else}}
                <span class="icon-value no-value">&dash;&dash;</span>
            {{/if}}
            <div class="labels">
                <span class="icon-label">Instructor Score</span>
            </div>
        </div>

        {{#if submission.project.evaluatable_by_peers}}
            <div class="footer-item">
                <i class="peer-icon"></i>
                {{#if submission.evaluated_by_peers}}
                    <span class="icon-value">{{to_i submission.peer_score_percentage}}%</span>
                {{else}}
                    <span class="icon-value no-value">&dash;&dash;</span>
                {{/if}}
                <div class="labels">
                    <span class="icon-label">Average Peer Score</span>
                </div>
            </div>
        {{/if}}
    {{/if}}
    <div class="footer-item">
        <i class="comments-icon-teal"></i>
        {{#if submission.discussion_posts_count}}
            <span class="icon-value">{{submission.discussion_posts_count}}</span>
        {{else}}
            <span class="icon-value no-value">&dash;&dash;</span>
        {{/if}}
        <div class="labels">
            <span class="icon-label">Comments</span>
            {{#if submission.new_posts_for_current_user}}
                <span class="new-label">NEW</span>
            {{/if}}
        </div>
    </div>

    <div class="footer-item">
        <i class="annotations-icon-teal"></i>
        {{#if submission.annotations_count}}
            <span class="icon-value">{{submission.annotations_count}}</span>
        {{else}}
            <span class="icon-value no-value">&dash;&dash;</span>
        {{/if}}
        <div class="labels">
            <span class="icon-label">Annotations</span>
        </div>
    </div>
</div>
