<figure class="frame-attachment">
	<div class="attachment-placeholder">
		<span class="attachment-placeholder--message">Video not yet uploaded</span>
	</div>
</figure><!-- removes whitespace between columns
-->
<div class="frame-summary">
	<h2 class="frame-summary--title"><a
			href="/courses/{{project.course_id}}/creator/{{project.current_user_id}}/project/{{project.id}}">{{project.name}}</a>
	</h2>

	<h3 class="frame-summary--course"><a
			href="/courses/{{project.course_id}}/creator/{{project.current_user_id}}/project/{{project.id}}"><strong>{{project.course_department}}{{project.course_number}} </strong> {{project.course_name}}
		[Section {{project.course_section}}]</a></h3>
	{{> ../partials/scoreSummary}}
	<a class="frame-summary--link"
	   href="/courses/{{project.course_id}}/creator/{{project.current_user_id}}/project/{{project.id}}">Submit a
		Video</a>
</div>
