<div class="portfolio-item--thumb">
	{{#if submission.has_asset}}
		<div class="thumb-container">
			<a href="{{submission.path}}" data-behavior="open-submission-detail">
				<img src="{{submission.assets.0.thumbnail}}"/>
			</a>
		</div>
	{{else}}
		<div class="thumb-container-placeholder">
			<a href="{{submission.path}}">
				<span>Awaiting Attachment Upload</span>
			</a>
		</div>
	{{/if}}
</div>
<div class="portfolio-item--content">
	<h3 class="heading-tertiary header">
		<a href="{{submission.path}}" data-behavior="open-submission-detail">{{submission.project.name}}</a>
		{{#if isGroupProject }}
            <i class="header-icon people"></i>
		{{/if}}
		{{#if project.due_date}}
			<span class="badge">Due {{project.due_date}}</span>
		{{/if}}
	</h3>

	<h5 class="heading-informational">
		{{#if submission.has_video }}
			Submitted {{submission.video.created_at}}
		{{else}}
			No submission has been uploaded for this project.
		{{/if}}
	</h5>

	{{#if submission.project.evaluatable}}
		{{#if submission.project.evaluatable_by_peers}}
			{{#if submission.evaluated_by_peers}}
				<figure class="summary-box summary-box-peer">
					<div>
						<b style="height: {{to_i submission.peer_score_percentage}}%"></b>
						<span>{{to_i submission.peer_score_percentage}}%</span>
					</div>
					<figcaption>Average<br>Peer<br>Score</figcaption>
				</figure>
			{{else}}
				<figure class="summary-box summary-box-empty">
					<div>
						<span class="empty">Awaiting<br/>Scores</span>
					</div>
					<figcaption>Average<br>Peer<br>Score</figcaption>
				</figure>
			{{/if}}
		{{/if}}

		{{#if submission.evaluated_by_instructor}}
			<figure class="summary-box summary-box-evaluator">
				<div>
					<b style="height: {{to_i submission.instructor_score_percentage}}%"></b>
					<span>{{to_i submission.instructor_score_percentage}}%</span>
				</div>
				<figcaption>Average<br>Instructor<br>Score</figcaption>
			</figure>
		{{else}}
			<figure class="summary-box summary-box-empty">
				<div>
					<span class="empty">Awaiting<br/>Scores</span>
				</div>
				<figcaption>Average<br>Instructor<br>Score</figcaption>
			</figure>
		{{/if}}
	{{/if}}

	<figure class="summary-box {{#if submission.discussion_posts_count}}summary-box-creator{{else}}summary-box-empty{{/if}}">
		<div>
			<span>{{submission.discussion_posts_count}}</span>
		</div>
		<figcaption>
			Comments<br>
			{{#if submission.new_posts_for_current_user}}
				<span class="badge">New</span>
			{{/if}}
		</figcaption>
	</figure>

	{{#if submission.has_asset}}
		<figure class="summary-box {{#if submission.assets.0.annotations_count}}summary-box-creator{{else}}summary-box-empty{{/if}}">
			<div>
				<span>{{submission.assets.0.annotations_count}}</span>
			</div>
			<figcaption>Annotations</figcaption>
		</figure>
	{{/if}}
</div>
