<figure class="frame-attachment">
{{#if submission.has_video}}
{{#if submission.thumb}}
<img class="frame-attachment--image" src="{{submission.thumb}}"/>
{{else}}
<div class="attachment-placeholder">
</div>
{{/if}}
<figcaption class="frame-attachment--details">
  {{#if submission.discussion_posts_count}}
  <nav class="comments-nav">
    <ul>
      <li>
        <a data-behavior="routable" href="{{submission.path}}">{{submission.discussion_posts_count}}</a>
      </li>
      <!--
      <li>
       <a data-behavior="routable" href="{{submission.path}}">3 New</a>
      </li>
      -->
    </ul>
  </nav>
  {{/if}}
</figcaption>
{{else}}
<div class="attachment-placeholder">
  {{#if submission.current_user_can_attach}}
  <a data-behavior="routable" class="attachment-placeholder--button" href="{{submission.path}}">Video not yet uploaded</a>
  {{else}}
  <span class="attachment-placeholder--message">Video not yet uploaded</span>
  {{/if}}
</div>
{{/if}}
</figure><!-- removes whitespace between columns
--><div class="frame-summary">
  <h2 class="frame-summary--title">
    <a data-behavior="routable" href="{{submission.path}}">{{submission.project_name}}</a>
  </h2>
  {{#if showCreator}}
  <h3 class="frame-summary--creator">
    <a data-behavior="routable" href="{{submission.path}}">{{submission.creator_name}}</a>
  </h3>
  {{/if}}
  {{#if showCourse}}
  <h3 class="frame-summary--course"><a data-behavior="routable" href="{{submission.path}}"><strong>{{submission.course_department}}{{submission.course_number}} </strong> {{submission.course_name}} [Section {{submission.course_section}}]</a></h3>
  {{/if}}
  {{> templates_partials_scoreSummary}}
  <a class="frame-summary--link" data-behavior="routable" href="{{submission.path}}">Expand Scores</a>
  <aside class="frame-summary--status {{#if submission.current_user_evaluation_published}}active{{/if}}">
    {{#if submission.current_user_evaluation_published}}
    published
    {{else}}
    unpublished
    {{/if}}
  </aside>
</div>
