<p>
  <b>Name:</b>
  <%= @submission.name %>
</p>

<p>
  <b>Summary:</b>
  <p><%= @submission.summary %></p>
</p>

<%= form_for [@organization, @course, @assignment, @submission, @attachment] do |f| %>
  <%= f.file_field :media, :id => "fileupload", :data => {:url => organization_course_assignment_submission_attachments_path(@organization, @course, @assignment, @submission) }%>
  <div id="progress" class="muted"></div>
<% end %>


<% @submission.attachments.each do |attachment| %>
  <% if attachment.transcoding_complete? %>
    <div id="<%= attachment.id %>" class="well">
      <div class="row">
        <div class="span4">Media:</div>
        <div class="span3">Thumb:</div>
      </div>
      <div class="row">
        <div class="span4">
          <%= video_tag attachment, :controls => true, :width => "300px"%>
        </div>
        <div class="span3">
          <%= image_tag attachment.url(:thumb) %>
        </div>
      </div>
    </div>
  <% else %>
    <div id="<%= attachment.id %>" class="well transcoding text-center lead">
      Currently transcoding...
    </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_organization_course_assignment_submission_path(@organization, @course, @assignment, @submission) %> |
<%= link_to 'Back', organization_course_assignment_submissions_path(@organization, @course, @assignment) %>
