<% content_for :content_header do %>
  Course Requests
<% end %>

<% content_for :content_header_links do %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames do %>

<% if @course_requests.count > 0 then %>
    <div class="table-wrapper">
      <table class="table">
        <thead>
        <tr>
          <th class="">Number</th>
          <th class="">Name</th>
          <th class="">Instructor</th>
          <th class="">Section</th>
          <th class="">Semester</th>
          <th class="">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @course_requests.each do |course_request| %>
            <tr>
              <th><%= "#{course_request.department}#{course_request.number}" %></th>
              <td><%= course_request.name %></td>
              <td><%= course_request.evaluator_name %></td>
              <td><%= course_request.section %></td>
              <td><%= "#{course_request.semester} #{course_request.year}" %></td>
              <td><%= link_to 'Approve', approve_admin_course_request_url(course_request), :method => :put, :class => 'teal-button' %>&nbsp;&nbsp;<%= link_to 'Deny', deny_admin_course_request_url(course_request), :method => :put, :class => 'teal-button' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <nav class="pagination-nav">
        <%= paginate @course_requests %>
      </nav>
    </div>
<% else %>
   <h2>There are no pending course requests.</h2>
<% end %>
<% end %>