<h1>Listing assignment submissions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Media</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignment_submissions.each do |assignment_submission| %>
  <tr>
    <td><%= assignment_submission.name %></td>
    <td><%= assignment_submission.description %></td>
    <td><%= assignment_submission %></td>
    <td><%= link_to 'Show', assignment_submission %></td>
    <td><%= link_to 'Edit', edit_assignment_submission_path(assignment_submission) %></td>
    <td><%= link_to 'Destroy', assignment_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New AssignmentSubmission', new_assignment_submission_path %>
