<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assignment_submission.name %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment_submission.description %>
</p>

<p>
  <b>Media:</b>
  <%= video_tag @assignment_submission.media.url(:original, false), :controls => true %>
</p>
<p>
  <b>Thumb:</b>
  <%= image_tag @assignment_submission.media.url(:thumb, false) %>
</p>


<%= link_to 'Edit', edit_assignment_submission_path(@assignment_submission) %> |
<%= link_to 'Back', assignment_submissions_path %>
