{{debug submission}}

<figure class="frame-attachment">
  <img class="frame-attachment--image" src="{{submission.thumb}}"/>
  <figcaption class="frame-attachment--details">
    <nav class="comments-nav">
      <ul>
        <li>
          <a href="{{url_for 'courses_evaluations_for_creator_and_project' submission.course_id submission.creator_id submission.project_id}}">12</a>
        </li>
        <li>
         <a href="{{url_for 'courses_evaluations_for_creator_and_project' submission.course_id submission.creator_id submission.project_id}}">3 New</a>
        </li>
      </ul>
    </nav>
    <a class="frame-attachment--link" href="{{url_for 'courses_evaluations_for_creator_and_project' submission.course_id submission.creator_id submission.project_id}}">See All Comments</a>
  </figcaption>
</figure><!-- removes whitespace between columns
--><div class="frame-summary">
    <h2 class="frame-summary--title"><a href="{{url_for 'courses_evaluations_for_project' submission.course_id submission.project_id}}">{{submission.project_name}}</a></h2>
    <h3 class="frame-summary--creator"><a href="{{url_for 'courses_evaluations_for_creator' submission.course_id submission.creator_id}}">{{submission.creator_name}}</a></h3>
    <h3 class="frame-summary--course"><a href="{{url_for 'courses_evaluations' submission.course_id}}"><strong>{{submission.course_department}}{{submission.course_number}} </strong> {{submission.course_name}} [Section {{submission.course_section}}]</a></h3>
		{{> portfolio_score}}
    <a class="frame-summary--link" href="{{url_for 'courses_evaluations_for_creator_and_project' submission.course_id submission.creator_id submission.project_id}}">Expand Scores</a>
  </div>