<% content_for :content do %>
    <div class="page-message">
      <div class="header">
        Semesters
      </div>
    </div>

    <div class="page-section">
      <div class="header-wrapper">
        <div class="buttons">
          <%= link_to 'Add New Semester', new_semester_path, :class => 'primary-button new-button' %>
        </div>
        <div class="header">
          <h2>Semesters</h2>
        </div>
      </div>
      <div class="body">
        <form class="formgrid">
          <fieldset>
            <div class="formgrid">
              <div class="formgrid half">
                <%= label_tag :organization_id, 'Organization', {:class => 'text-label'} %>
                <%= select_tag(:organization_id, options_from_collection_for_select(Organization.all, 'id', 'name'), {prompt: 'Select an organization', 'data-behavior' => 'chosen'}) %>
              </div>
              <div class="formgrid fourth">
                <%= label_tag :year, 'Year', {:class => 'text-label'} %>
                <%= select_tag(:year, options_for_select(Semester.unique_years), {prompt: 'Select a year', 'data-behavior' => 'chosen'}) %>
              </div>
              <div class="formgrid fourth">
                <label class="text-label">&nbsp;</label>
                <%= button_tag('Filter Semesters', {:class => 'primary-button filter-button'}) %>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="page-section page-section-clear">
      <div class="table-wrapper">
          <table class="table table-white-head">
            <thead>
            <tr>
              <th class="">Organization</th>
              <th class="">Name</th>
              <th class="">Start Date</th>
              <th class="">End Date</th>
              <th class="">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @semesters.each do |semester| %>
              <%= render 'shared/model_errors', :model => semester %>
              <%= fields_for 'semesters[]', semester do |f| %>
                <tr>
                  <td><%= h semester.organization %></td>
                  <td><%= h semester.name %></td>
                  <td><%= h semester.start_date.strftime('%b %d %Y') %></td>
                  <td><%= h semester.end_date.strftime('%b %d %Y') %></td>
                  <td>
                    <div class="dropdown dropdown-button" data-behavior="dropdown">
                      <a class="dropdown--toggle" data-behavior="toggle" href="#">Actions</a>

                      <div class="dropdown--options" data-behavior="dropdown-options">
                        <%= render 'nav', :semester => semester %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
<% end %>
