<%= render :partial => 'heading', :locals => {semester: @semester, subheader: 'Overview'} %>

<% content_for :content do %>

    <% body = capture do %>
        <div class="fake-formgrid">
          <div class="formgrid half">
            <span class="label">Organization</span>
            <span><%= @semester.organization %></span>
          </div>
          <div class="formgrid half">
            <span class="label">Position</span>
            <span><%= @semester.position %></span>
          </div>
          <div class="formgrid third">
            <span class="label">Name</span>
            <span><%= @semester.name %></span>
          </div>
          <div class="formgrid third">
            <span class="label">Start Date</span>
            <span><%= @semester.start_date %></span>
          </div>
          <div class="formgrid third">
            <span class="label">End Date</span>
            <span><%= @semester.end_date%></span>
          </div>

        </div>
    <% end %>
    <%= render :partial => 'shared/section', :locals => {:header => 'Properties', :body => body} %>

<% end %>
