<div class="cell--container">
<dl class="cell--media">
  <dt>Media</dt>
  <dd>
    {{#if has_video}}
    <b class="matrix--check"></b>
    {{else}}
    <b></b>
    {{/if}}
  </dd>
</dl>
<dl class="cell--score">
  <dd>
    {{#if show_instructor_average}}
		    <dt>Avg. Score</dt>
		    <b class="matrix--scored">
          {{#if_empty instructor_score_percentage}}
	          &mdash; &mdash;
          {{else}}
            {{to_i instructor_score_percentage}}<small>%</small>
          {{/if_empty}}
		    </b>
    {{else}}
	    <dt>Your<br />Score</dt>
      {{#if current_user_percentage }}
        <b class="matrix--scored">
          {{to_i current_user_percentage}}<small>%</small>
        </b>
      {{else}}
        &mdash; &mdash;
      {{/if}}
    {{/if}}
  </dd>
</dl>
<dl class="cell--published">
  <dd>
    {{#if_empty current_user_percentage }}
      <dt>Scored?</dt>
      No
    {{else}}
	    <dt>Published</dt>
      {{#if current_user_published}}
        <b data-behavior="publish-toggle" class="matrix--checkbox checked"></b>
      {{else}}
        <b data-behavior="publish-toggle" class="matrix--checkbox "></b>
      {{/if}}
    {{/if_empty}}
  </dd>
</dl>
</div>
