{{#if userCanAdministerCourse}}
<a class="matrix--column-header--link" data-behavior="project-title" href="#"><span>{{name}}</span></a>
{{else}}
<span>{{name}}</span>
{{/if}}

<div>
<div class="dropdown dropdown-inline" data-behavior="dropdown">
  <a class="dropdown--toggle" data-behavior="toggle" href="#">Options</a>
  <div class="dropdown--options" data-behavior="dropdown-options">
    <ul>
      <li><a href="#" data-behavior="publish-all">Publish All Evaluations</a></li>
      <li><a href="#" data-behavior="unpublish-all">Unpublish All Evaluations</a></li>
	    {{#if userCanAdministerCourse}}
	    <li><a href="/courses/{{courseId}}/manage/projects/{{id}}/edit">Edit Project Settings</a></li>
	    {{/if}}
    </ul>
  </div>
</div>
</div>
