<% content_for :content do %>
  <div class="login-title">
    <%= image_tag("png/logo.png", :alt => "VOCAT", style: 'max-width: 100px;') %>
    <% if @current_organization %>
    <div class="separator"></div>
    <span><%= @current_organization.name %></span>
    <% end %>
  </div>
	<div class="page-content">
		<%= render 'layouts/messages_server' %>
		<div class="authentication-tile">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'formgrid'}) do |f| %>
				<% if @current_organization.try(:logo) %>
					<div class="formgrid whole">
						<div class="org-logo">
							<img src="/uploads/<%= @current_organization.logo %>" />
						</div>
					</div>
				<% end %>
				<% if @app_section == 'manage' %>
					<div class="formgrid whole">
						<h1 class="heading-tertiary">Login to Manage Vocat</h1>
					</div>
				<% end %>

				<div class="formgrid whole">
					<label class="placeholder-fallback" for="user[email]">Email or Username</label>
					<%= f.text_field :email, :class => "authentication-tile--input", :placeholder => "Email or Username", :autofocus => "autofocus" %>
				</div>
				<div class="formgrid whole">
					<label class="placeholder-fallback" for="user[password]">Password</label>
					<%= f.password_field :password, :class => "authentication-tile--input", :placeholder => "Password" %>
				</div>
				<div class="formgrid whole submit-row">
					<%= f.button "Sign in", :class => "primary-button next-button" %>
				</div>
				<div class="formgrid whole">
					<% if devise_mapping.rememberable? -%>
						<label class="authentication-tile--label" for="user_remember_me">
							<%= f.check_box :remember_me, :class => "authentication-tile--checkbox" %>
							<b></b>
							<span class="authentication-tile--checkbox-text">Remember me on this device.</span>
						</label>
					<% end -%>
				</div>

			<% end %>
		</div>
		<div class="authentication-footer">
			<div class="help-links">
        <a href="http://vocat.io" style="margin-right: 15px">Get help using VOCAT</a>|<%= render "devise/shared/links" %>
			</div>
		</div>
    <footer class="login-page-footer">
      <a class="logo-link" href="http://www.baruch.cuny.edu">
        <div class="baruch-logo"></div>
      </a>
      <div class="">
        <span class="page-footer-msg">VOCAT is brought to you by <a href="http://baruch.cuny.edu" target="_blank">Baruch
        College</a>. Learn more at <a href="http://vocat.io" target="_blank">vocat.io</a>.</span>
        <% if Rails.configuration.vocat_build_number %>
            <span class="page-footer-version">Build <%= Rails.configuration.vocat_build_number %></span>
        <% end %>
      </div>
    </footer>
	</div>
<% end %>
<% content_for :body_class do %>bg-dark
<% end %>
