<div class="authentication-tile">
  <%= image_tag("placeholders/logo-baruch.png", :class => "authentication-tile--image", :alt => "Baruch College") %>
  <%= render 'layouts/messages' %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, :autofocus => true, :class => "authentication-tile--input", :placeholder => "Email" %>

      <%= f.password_field :password, :class => "authentication-tile--input", :placeholder => "Password" %>

      <!-- <%=  collection_select(:organization, :id, Organization.all, :id, :name, :placeholder => "Organization") %> -->

      <% if devise_mapping.rememberable? -%>
        <label class="authentication-tile--label"><%= f.check_box :remember_me, :class => "authentication-tile--checkbox" %> <b></b><span class="authentication-tile--checkbox-text">Remember me</span></label>
      <% end -%>

      <!-- TODO can this be an <a> and still work? -->
      <%= f.submit "Sign in", :class => "authentication-tile--button" %>
      <a href="" class="authentication-tile--button">Sign In</a>
    <% end %>
</div>

<footer class="authentication-footer">
  <%= render "devise/shared/links" %> 
</footer>
