<div class="authentication-tile">
  <%= render 'layouts/messages' %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.email_field :email, :autofocus => true, :class => "span4", :placeholder => "Email" %></div>

      <div><%= f.password_field :password, :class => "span4", :placeholder => "Password" %></div>

      <%=  collection_select(:organization, :id, Organization.all, :id, :name, :placeholder => "Organization") %>

      <% if devise_mapping.rememberable? -%>
        <div>
          <label class="checkbox"><%= f.check_box :remember_me, :class => "checkbox" %> Remember me</label>
        </div>
      <% end -%>

      <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
    <% end %>
</div>

<footer class="authentication-footer">
  <%= render "devise/shared/links" %>  
</footer>
