<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<header class="evaluation-detail--header">
			{{debug project}}
			{{debug submission}}
			<h1 class="evaluation-detail--title">{{project.name}}</h1>
			<aside>
				<h2 class="evaluation-detail--subtitle"><strong>{{project.course_department}}{{project.course_number}} :</strong> {{project.course_name}}</h2>
				<h2 class="evaluation-detail--subtitle"><em>{{creator.name}}</em></h2>
			</aside>
		</header>
		<figure class="attachment" id="js-video-view"></figure>
	</div>
	<div class="evaluation-detail-frame" id="js-score-view"></div>
	<div class="evaluation-detail-frame" id="js-discussion-view"></div>
</div>
