<div class="well">
  <header class="clearfix">
    <h5 class="grid100">{{exhibit.course.department}} {{exhibit.course.number}} : {{exhibit.course.name}} : Section {{exhibit.course.section}} : Semester, Year</h5>
    <h2 class="grid60">{{exhibit.project.name}}</h2>
    <div class="text-right grid40">
      <h5>Evaluator Name</h5>
    </div>
  </header>
  <div id="video-view" class="clearfix with-space">
    <!-- THIS IS WHERE THE VIDEO PLAYER AND ANNOTATIONS WILL GO -->
  </div>
  <div id="score-view" class="with-space">
    <!-- THIS IS WHERE THE SCORE VIEW WILL GO -->
  </div>
  <div id="discussion-view">
    <!-- THIS IS WHERE THE DISCUSSION VIEW WILL GO -->
  </div>
  
</div>