{{debug exhibit.submission level="warn" label="exhibit submission"}}
<div class="well">
  <div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="exhibit-attachment span3">
      {{#if exhibit.submission}}
          <div class="placeholder-red">
            Submission: LINK TO SUBMISSION
          </div>
      {{else}}
          <div class="placeholder">
            No submission has been saved for this user/project
          </div>
      {{/if}}
      <div style="margin-bottom: 20px;">
        <small class="with-gray">No Instructior Comments</small><br>
        <small class="with-gray"><a href="#">3 Peer Comments</a></small>
      </div>
      <a class="btn btn-mini" href="#">+ See all feedback</a>
    </div>
    <div class="exhibit-content span8">
      <div class="row">
        <div class="span6">
          <h5><a href="#">{{exhibit.course.name}}</a></h5>
          <h5>Creator: <a href="#">{{exhibit.creator.name}}</a></h5>
          <h3><a href="#">{{exhibit.project.name}}</a></h3>
        </div>
        <div class="text-right span2">
          {{#if exhibit.submission.evaluated}}
          <small class="with-gray with-block">Unevaluated <b class="badge">&#8203;</b></small>
          {{else}}
          <small class="with-gray with-block">Evaluated <b class="badge badge-info">&#8203;</b></small>
          {{/if}}
        </div>
      </div>
      <ul class="unstyled evaluation-list with-gray-dark">
        <li class="row">
          <div class="span7 evaluation-wrapper">
            <div class="evaluation-box evaluated" style="width: 60%;">Evaluated</div>
          </div>
          <div class="span1">
            <div class="evaluation-box text-center">60%</div>
          </div>
        </li>
        <li class="row">
          <div class="span7 evaluation-wrapper">
            <div class="evaluation-box unevaluated">Unevaluated</div>
          </div>
          <div class="span1">
            <div class="evaluation-box text-center">--</div>
          </div>
        </li>
      </ul>
      <a class="btn btn-mini" href="#">+ Expand details</a>
    </div>
  </div>
 </div>