<div class="alerts"><div class="alert alert-notice" style="display: block;"><aside class="alert--label"></aside>
  <p>
    {{cardinal contacts_count true}} of the users you entered do not have a Vocat account.
    Press the confirm button below to invite {{#if multiple_contacts}}these users{{else}}this user
    {{/if}} to Vocat and enroll {{#if multiple_contacts}}them{{else}}him/her{{/if}} in this course.
  </p>
  <p>
    <small>The following users will be invited: {{truncate contact_emails 900}}</small>
  </p>
  <p>
    <a href="#" data-behavior="submit-invite-and-enroll" class="primary-button new-button">Invite New {{#if multiple_contacts}}Users{{else}}User{{/if}}</a>
    <a href="#" data-behavior="cancel-invite-and-enroll" class="secondary-button">Cancel</a>
  </p>
</div>
