<h3>Courses</h3>

<table class="table table-striped">
  <thead>
  <tr>
	<th>Name</th>
	<th>Dept</th>
	<th>Code</th>
	<th>Section</th>
	<th>Year</th>
	<th>Term</th>
	<th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
	  <tr>
		<td><%= link_to course.name, admin_course_path(course) %></td>
		<td><%= course.department %></td>
		<td><%= course.number %></td>
		<td><%= course.section %></td>
		<td>TODO: Output Year</td>
		<td>TODO: Output Term</td>
	    <td>
	      <%= link_to 'edit', edit_admin_course_path(course) %>
	      or
	      <%= link_to 'destroy', admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
	    </td>
	  </tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, Course.new %>
	<%= link_to 'New Course', new_admin_course_path, :class => 'btn' %>
<% end %>
