<% if can? :create, Course.new %>
  <%= link_to 'New Course', new_organization_course_path(@organization) %>
<% end %>

<h1>Listing courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Number</th>
    <th>Section</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.department %></td>
    <td><%= course.number %></td>
    <td><%= course.section %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'Show', organization_course_path(@organization, course) %></td>
    <% if can? :update, course %>
      <td><%= link_to 'Edit', edit_organization_course_path(@organization, course) %></td>
    <% end %>
    <% if can? :destroy, course %>
      <td><%= link_to 'Destroy', organization_course_path(@organization, course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

