<% if can? :update, @course %>
  <div><%= link_to 'Edit', edit_organization_course_path(@organization, @course) %></div>
<% end %>

<% if can? :destroy, @course %>
  <div><%= link_to 'Destroy', organization_course_path(@organization, @course), method: :delete, data: { confirm: 'Are you sure?' } %></div>
<% end %>
<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Department:</b>
  <%= @course.department %>
</p>

<p>
  <b>Number:</b>
  <%= @course.number %>
</p>

<p>
  <b>Section:</b>
  <%= @course.section %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<div>
  <b>Instructors:</b>
  <ul>
    <% @course.instructors.each do |instructor| %>
      <li><%= instructor.name %></li>
    <% end %>
  </ul>
</div>


