<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Department:</b>
  <%= @course.department %>
</p>

<p>
  <b>Number:</b>
  <%= @course.number %>
</p>

<p>
  <b>Section:</b>
  <%= @course.section %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_organization_course_path(@organization, @course) %> |
<%= link_to 'Back', organization_courses_path(@organization) %>
