<%= form_errors(@course) %>

<div class="controls row controls-row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :name %>
      <div class="controls">
        <%= f.input_field :name, class: "span6" %>
      </div>
    </div>
  </div>
</div>

<div class="controls row controls-row">
  <div class="span6">
    <div class="control-group">
      <%= f.label :description %>
      <div class="controls">
        <%= f.input_field :description, style: "height: 100px", class: "span6" %>
      </div>
    </div>
  </div>
</div>


<div class="controls row controls-row">
  <div class="span6">
    <div class="control-group">
      <%= f.button :submit, 'Save project' %>
    </div>
  </div>
</div>