<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= link_to 'Show', organization %></td>
    <% if can? :update, organization %>
      <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <% end %>
    <% if can? :destroy, organization %>
      <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Organization.new %>
  <%= link_to 'New Organization', new_organization_path %>
<% end %>
