<header class="button-header">
  <h2 class="button-header--title"><%= @user.name %></h2>
  <% if local_assigns.fetch :subheader, nil %>
    <h2 class="button-header--subtitle">
      <%= subheader %><span></span>
    </h2>
  <% end %>

</header>

<nav class="tab-nav double-space-bottom">
  <ul>
    <li><%= link_to 'Overview', admin_user_path(@user) %></li>
    <li><%= link_to 'Properties', edit_admin_user_path(@user) %></li>
    <li><%= link_to 'Courses', courses_admin_user_path(@user) %></li>
    <li><%= link_to 'Password', edit_password_admin_user_path(@user) %></li>
    <li><%= link_to 'Delete', admin_user_path(@user), :method => :delete, :data => { :modalconfirm => 'Deleting this user will also delete all submissions and evaluations associated with this user. This action is not reversible. Are you sure you would like to proceed?'} %></li>
  </ul>
</nav>
