<%= render :partial => 'heading', :locals => {user: @user, subheader: 'Overview'} %>

<% content_for :content do %>

	<% body = capture do %>
		<%= form_for [:admin, @user], :url => {:action => :update_password}, :html => {:class => 'formgrid'} do |f| %>
			<p class="formgrid whole">
				Please enter the new password in the fields below.
			</p>
			<%= render 'shared/model_errors', :model => @user %>
			<%= render 'password_modification', :f => f %>
			<div class="formgrid whole">
				<%= f.button 'Update Password', :class => 'primary-button update-button' %>
			</div>
		<% end %>
	<% end %>
	<%= render :partial => 'shared/section', :locals => {:header => 'Change Password', :body => body} %>

<% end %>

