<% content_for :content_header do %>
  Users
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'Change Password' %>

  <%= render 'shared/model_errors', :model => @user %>

  <%= form_for [:admin, @user], :url => { :action => :update_password} do |f| %>
    <p>Enter a new password for the user.</p>
    <div class="input-group">
      <%= f.label :password, {class: 'text-label'} %>
      <%= f.password_field :password, {class: 'text-input'} %>
    </div>
    <div class="input-group">
      <%= f.label :password_confirmation, {class: 'text-label'} %>
      <%= f.password_field :password_confirmation, {class: 'text-input'} %>
    </div>

    <div class="input-group">
      <%= f.submit 'Update Password', :class => 'teal-plus-button' %>
    </div>
  <% end %>
<% end %>

