<% content_for :content_header do %>
  Users
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_frames	 do %>

  <header class="button-header">
    <h2 class="button-header--title space-bottom">Create a new user</h2>
  </header>

  <%= render 'shared/model_errors', :model => @user %>

  <%= form_for [:admin, @user] do |f| %>

    <%= render 'form', :f => f, :show_password => true %>

    <div class="input-group">
      <%= link_to 'Back', admin_users_path(), :class => 'gray-ex-button' %>
      <%= f.submit 'Create User', :class => 'teal-plus-button' %>
    </div>
  <% end %>
<% end %>

