<%= render 'shared/model_errors', :model => @project %>

<div class="formgrid whole">
	<%= f.label :name, :required => true %>
	<%= f.text_field :name %>
</div>

<div class="formgrid whole">
	<%= f.label :description, :required => true %>
	<%= f.text_area :description, {rows: 6} %>
</div>

<div class="formgrid half">
	<%= f.label :rubric, :class => 'text-label' %>
	<%= f.select :rubric_id, grouped_options_for_select({
																'Instructor Rubrics' => options_from_collection_for_select(@project.course.evaluator_rubrics, :id, :name, @project.rubric_id),
																'VOCAT Rubrics' => options_from_collection_for_select(Rubric.publicly_visible, :id, :name, @project.rubric_id)
														}), {:include_blank => 'No rubric'}, {'data-behavior' => 'chosen'}
	%>
</div>

<div class="formgrid half">
	<%= f.label 'Is this a group or individual project?', :class => 'text-label' %>
	<%= f.select :type, [['Individual', 'UserProject'], ['Group', 'GroupProject'], ['Both', 'OpenProject']], {:selected => @project.type}, {'data-behavior' => 'chosen'} %>
</div>

<div class="formgrid third date">
	<%= f.label 'Project Due Date', :class => 'text-label' %>
	<%= f.text_field :due_date, :value => (@project.due_date.strftime('%a %b %d %Y') if @project.due_date), 'data-behavior' => 'date-picker' %>
</div>

<div class="formgrid third date">
	<%= f.label 'May students attach media to submissions?', :class => 'text-label' %>
	<%= select_tag "#{@project.type.underscore}[settings][enable_creator_attach]", options_for_select([
																											  ['Yes', true],
																											  ['No', false]
																									  ], @project.allows_creator_attach?), {'data-behavior' => 'chosen'} %>
	<small>If this is set to "no," only instructors will be able to upload media (video, images, audio, etc).</small>
</div>

<div class="formgrid third date">
	<%= f.label 'Accept Media after Project Due Date?', :class => 'text-label' %>
	<%= select_tag "#{@project.type.underscore}[settings][reject_past_due_media]", options_for_select([
																											  ['Yes', false],
																											  ['No', true]
																									  ], @project.rejects_past_due_media?), {'data-behavior' => 'chosen'} %>
	<small>This setting is only applicable if "allow creators to upload media" is checked, below. Evaluators may upload
		media at any time.
	</small>
</div>

<div class="formgrid whole">
	<%= f.label 'Media Formats', :class => 'text-label' %>
	<div class="checkbox-wrap">
		<%= hidden_field_tag "#{@project.type.underscore}[allowed_attachment_families][]", [] %>
		<ul class="checkbox-list">
			<li>
				<label>
					<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", '', @project.read_attribute(:allowed_attachment_families).length == 0, :data => {:behavior => 'media-any'} %>
					Allow Any Format
				</label>
			</li>
		</ul>
		<p class="checkbox-separator">
			Or allow specific formats:
		</p>
		<ul class="checkbox-list checkbox-list-floated">
			<li>
				<label>
					<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", 'image', @project.read_attribute(:allowed_attachment_families).include?('image'), :data => {:behavior => 'media-specific'} %>
					Images
				</label>
			</li>
			<li>
				<label>
					<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", 'video', @project.read_attribute(:allowed_attachment_families).include?('video'), :data => {:behavior => 'media-specific'} %>
					Videos
				</label>
			</li>
			<li>
				<label>
					<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", 'audio', @project.read_attribute(:allowed_attachment_families).include?('audio'), :data => {:behavior => 'media-specific'} %>
					Audio
				</label>
			</li>
		</ul>
	</div>
</div>
<%= f.fields_for :settings do |settings| %>
	<div class="formgrid whole">
		<label class="label">Project Configuration</label>

		<div class="checkbox-wrap">
			<ul class="checkbox-list">
				<li>
					<label class="label-inline" for="<%= @project.type.underscore %>_settings_enable_public_discussion">
						<%= hidden_field_tag("#{@project.type.underscore}[settings][enable_public_discussion]", 0, :id => 'enable_public_discussion_hidden') %>
						<%= check_box_tag("#{@project.type.underscore}[settings][enable_public_discussion]", 1, @project.allows_public_discussion?) %>
						<b></b>
						Submissions are visible to all course members
					</label>
					<small>
						Enabling this will allow all students in the course to view, annotate, and discuss each other's
						submissions for this project.
					</small>
				</li>
				<li>
					<label class="label-inline" for="<%= @project.type.underscore %>_settings_enable_peer_review">
						<%= hidden_field_tag("#{@project.type.underscore}[settings][enable_peer_review]", 0, :id => 'enable_peer_review_hidden') %>
						<%= check_box_tag("#{@project.type.underscore}[settings][enable_peer_review]", 1, @project.allows_peer_review?) %>
						<b></b>
						Enable peer review
					</label>
					<small>
						If enabled, students will be able to view submissions for this project, as well as score,
						annotate, and discuss those submissions.
					</small>
				</li>
				<li>
					<label class="label-inline" for="<%= @project.type.underscore %>_settings_enable_self_evaluation">
						<%= hidden_field_tag("#{@project.type.underscore}[settings][enable_self_evaluation]", 0, :id => 'enable_self_evaluation_hidden') %>
						<%= check_box_tag("#{@project.type.underscore}[settings][enable_self_evaluation]", 1, @project.allows_self_evaluation?) %>
						<b></b>
						Allow self-evaluation
					</label>
					<small>
						Enabling self-evaluation will give students the ability to evaluate their own project
						submissions using the
						rubric attached to each project.
					</small>
				</li>
				<li>
					<label class="label-inline" for="<%= @project.type.underscore %>_settings_anonymous_peer_review">
						<%= hidden_field_tag("#{@project.type.underscore}[settings][anonymous_peer_review]", 0, :id => 'enable_anonymous_peer_review_hidden') %>
						<%= check_box_tag("#{@project.type.underscore}[settings][anonymous_peer_review]", 1, @project.has_anonymous_peer_review?) %>
						<b></b>
						Enable Anonymous Peer Review
					</label>
					<small>
						If enabled, students will not be able to see the evaluator name on peer evaluations.
					</small>
				</li>
			</ul>
		</div>
	</div>

<% end %>
