<%= render 'shared/model_errors', :model => @project %>

<div class="formgrid whole">
	<%= f.label :name, :required => true %>
	<%= f.text_field :name %>
</div>

<div class="formgrid whole">
	<%= f.label :description, :required => true %>
	<%= f.text_area :description, {rows: 6 } %>
</div>

<div class="formgrid half">
	<%= f.label :rubric, :class => 'text-label' %>
	<%= f.select :rubric_id, grouped_options_for_select({
								'My Rubrics' => options_from_collection_for_select(current_user.rubrics, :id, :name, @project.rubric_id),
								'VOCAT Rubrics' => options_from_collection_for_select(Rubric.publicly_visible, :id, :name, @project.rubric_id)
							}), {:include_blank => 'No rubric'}, {'data-behavior' => 'chosen'}
	%>
</div>

<div class="formgrid half">
	<%= f.label 'Is this a group or individual project?', :class => 'text-label' %>
	<%= f.select :type, [['Individual', 'UserProject'], ['Group', 'GroupProject'], ['Both', 'OpenProject']], {:selected => @project.type}, {'data-behavior' => 'chosen'} %>
</div>

<div class="formgrid half date">
	<%= f.label 'Project Due Date', :class => 'text-label' %>
	<%= f.text_field :due_date, :value => (@project.due_date.strftime('%a %b %d %Y') if @project.due_date), 'data-behavior' => 'date-picker' %>
	<small>The project due date is for informational purposes. Students and instructors will still be able to modify submissions past the project due date.</small>
</div>

<div class="formgrid half">
	<%= f.label 'Limit submission type?', :class => 'text-label' %>
	<div class="checkbox-wrap">
		<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", 'image', @project.allowed_attachment_families.include?('image') %> Images
		&nbsp;&nbsp;
		<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", 'video', @project.allowed_attachment_families.include?('video') %> Videos
		&nbsp;&nbsp;
		<%= check_box_tag "#{@project.type.underscore}[allowed_attachment_families][]", 'audio', @project.allowed_attachment_families.include?('audio') %> Audio
	</div>
	<small>If no options are checked, creators will be able to attach any accepted file type.</small>
</div>
