<%= form_errors(@project) %>

<div class="input-group">
  <%= f.label :name, :class => 'text-label' %>
  <%= f.input_field :name, :class => 'text-input' %>
</div>


<div class="model-form--row">
  <%= f.label :description, :class => 'text-label' %>
  <%= f.input_field :description, :class => 'text-area-input', :rows => '3' %>
</div>

<div class="model-form--row">
  <%= f.label :rubric, :class => 'text-label' %>
  <%= f.select :rubric_id,
               grouped_options_for_select(
                   {
                       'My Rubrics' => options_from_collection_for_select(current_user.rubrics, :id, :name, @project.rubric_id),
                       'VOCAT Rubrics' => options_from_collection_for_select(Rubric.publicly_visible, :id, :name, @project.rubric_id)
                   }
               ), {}, {'data-behavior' => 'chosen'}
  %>

</div>

