<%= render 'shared/model_errors', :model => @project %>

<div class="formgrid whole">
	<%= f.label :name, :required => true %>
	<%= f.text_field :name %>
</div>

<div class="formgrid whole">
	<%= f.label :description, :required => true %>
	<%= f.text_area :description, {rows: 6} %>
</div>

<div class="formgrid half">
	<%= f.label :rubric, :class => 'text-label' %>
	<%= f.select :rubric_id, grouped_options_for_select({
																'Instructor Rubrics' => options_from_collection_for_select(@project.course.evaluator_rubrics, :id, :name, @project.rubric_id),
																'VOCAT Rubrics' => options_from_collection_for_select(@current_organization.rubrics.publicly_visible, :id, :name, @project.rubric_id)
														}), {:include_blank => 'No rubric'}, {'data-behavior' => 'chosen'}
	%>
</div>

<div class="formgrid half">
	<%= f.label 'Is this a group or individual project?', :class => 'text-label' %>
	<%= f.select :type, [['Individual', 'UserProject'], ['Group', 'GroupProject'], ['Both', 'OpenProject']], {:selected => @project_type}, {'data-behavior' => 'chosen'} %>
</div>

<div class="formgrid third date">
	<%= f.label 'Project Due Date', :class => 'text-label' %>
	<%= f.text_field :due_date, :value => (@project.due_date.strftime('%a %b %d %Y') if @project.due_date), 'data-behavior' => 'date-picker' %>
</div>

<div class="formgrid third date">
	<%= f.label 'May students attach media to submissions?', :class => 'text-label' %>
	<%= select_tag "#{@project_type.underscore}[settings][enable_creator_attach]", options_for_select([
																											  ['Yes', true],
																											  ['No', false]
																									  ], @project.allows_creator_attach?), {'data-behavior' => 'chosen'} %>
	<small>If this is set to "no," only instructors will be able to upload media (video, images, audio, etc).</small>
</div>

<div class="formgrid third date">
	<%= f.label 'Accept Media after Project Due Date?', :class => 'text-label' %>
	<%= select_tag "#{@project_type.underscore}[settings][reject_past_due_media]", options_for_select([
																											  ['Yes', false],
																											  ['No', true]
																									  ], @project.rejects_past_due_media?), {'data-behavior' => 'chosen'} %>
	<small>This setting is only applicable if students are allowed to attach media to submissions. Evaluators may upload
		media at any time.
	</small>
</div>

<div class="formgrid whole">
  <%= f.label 'Media Formats', :class => 'text-label' %>
  <div class="checkbox-wrap">
    <div class="checkbox">
      <input type="hidden" name=<%= "#{@project_type.underscore}[allowed_attachment_families][]" %> value="">
      <ul class="checkbox-list">
        <li>
          <input type="checkbox" name=<%= "#{@project_type.underscore}[allowed_attachment_families][]" %> id=<%= "#{@project_type.underscore}_allowed_attachment_families_" %> data-behavior="media-any" value <%= "checked" if @project.read_attribute(:allowed_attachment_families).length == 0 %>>
          <label class="toggle-indicator" for=<%= "#{@project_type.underscore}_allowed_attachment_families_" %>></label>Allow Any Format
        </li>
      </ul>
    </div>
    <p class="checkbox-separator">
      Or allow specific formats:
    </p>
    <ul class="checkbox-list checkbox-list-floated">
      <li>
        <div class="checkbox">
          <input type="checkbox" name=<%= "#{@project_type.underscore}[allowed_attachment_families][]" %> id=<%= "#{@project_type.underscore}_allowed_attachment_families_image" %> data-behavior="media-specific" value="image" <%= "checked" if @project.read_attribute(:allowed_attachment_families).include?('image') %>>
          <label class="toggle-indicator" for=<%= "#{@project_type.underscore}_allowed_attachment_families_image" %>></label>Images
        </div>
      </li>
      <li>
        <div class="checkbox">
          <input type="checkbox" name=<%= "#{@project_type.underscore}[allowed_attachment_families][]" %> id=<%= "#{@project_type.underscore}_allowed_attachment_families_video" %> data-behavior="media-specific" value="video"  <%= "checked" if @project.read_attribute(:allowed_attachment_families).include?('video') %>>
          <label class="toggle-indicator" for=<%= "#{@project_type.underscore}_allowed_attachment_families_video" %>></label>Video
        </div>
      </li>
      <li>
        <div class="checkbox">
          <input type="checkbox" name=<%= "#{@project_type.underscore}[allowed_attachment_families][]" %> id=<%= "#{@project_type.underscore}_allowed_attachment_families_audio" %> data-behavior="media-specific" value="audio" <%= "checked" if @project.read_attribute(:allowed_attachment_families).include?('audio') %>>
          <label class="toggle-indicator" for=<%= "#{@project_type.underscore}_allowed_attachment_families_audio" %>></label>Audio
        </div>
      </li>
    </ul>
  </div>
</div>
<%= f.fields_for :settings do |settings| %>

	<div class="formgrid whole">
		<label class="label">Project Configuration</label>

		<div class="checkbox-wrap">
			<ul class="checkbox-list">
				<li>
          <div class="checkbox">
            <input type="hidden" name=<%= "#{@project_type.underscore}[settings][enable_public_discussion]" %> id="enable_public_discussion_hidden" value="0">
            <input type="checkbox" name=<%= "#{@project_type.underscore}[settings][enable_public_discussion]" %> id=<%= "#{@project_type.underscore }_settings_enable_public_discussion" %> value="1" <%= "checked" if @project.allows_public_discussion? %>>
            <label class="toggle-indicator" for="<%= @project_type.underscore %>_settings_enable_public_discussion"></label>Submissions are visible to all course members
            <small>
              Enabling this will allow all students in the course to view, annotate, and discuss each other's
              submissions for this project.
            </small>
          </div>
				</li>
				<li>
          <div class="checkbox">
            <input type="hidden" name=<%= "#{@project_type.underscore}[settings][enable_peer_review]" %> id="enable_peer_review_hidden" value="0">
            <input type="checkbox" name=<%= "#{@project_type.underscore}[settings][enable_peer_review]" %> id=<%= "#{@project_type.underscore }_settings_enable_peer_review" %> value="1" <%= "checked" if @project.allows_peer_review? %>>
            <label class="toggle-indicator" for="<%= @project_type.underscore %>_settings_enable_peer_review"></label>Enable peer review
            <small>
              If enabled, students will be able to view submissions for this project, as well as score,
              annotate, and discuss those submissions.
            </small>
          </div>
				</li>
				<li>
          <div class="checkbox">
            <input type="hidden" name=<%= "#{@project_type.underscore}[settings][enable_self_evaluation]" %> id="enable_self_evaluation_hidden" value="0">
            <input type="checkbox" name=<%= "#{@project_type.underscore}[settings][enable_self_evaluation]" %> id=<%= "#{@project_type.underscore }_settings_enable_self_evaluation" %> value="1" <%= "checked" if @project.allows_self_evaluation? %>>
            <label class="toggle-indicator" for="<%= @project_type.underscore %>_settings_enable_self_evaluation"></label>Allow self-evaluation
            <small>
              Enabling self-evaluation will give students the ability to evaluate their own project
              submissions using the
              rubric attached to each project.
            </small>
          </div>
				</li>
				<li>
          <div class="checkbox">
            <input type="hidden" name=<%= "#{@project_type.underscore}[settings][anonymous_peer_review]" %> id="enable_anonymous_peer_review_hidden" value="0">
            <input type="checkbox" name=<%= "#{@project_type.underscore}[settings][anonymous_peer_review]" %> id=<%= "#{@project_type.underscore }_settings_anonymous_peer_review" %> value="1" <%= "checked" if @project.has_anonymous_peer_review? %>>
            <label class="toggle-indicator" for="<%= @project_type.underscore %>_settings_anonymous_peer_review"></label>Enable Anonymous Peer Review
            <small>
              If enabled, students will not be able to see the evaluator name on peer evaluations.
            </small>
          </div>
				</li>
			</ul>
		</div>
	</div>

<% end %>
