<% content_for :content_header do %>
  Edit Project
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
  <p>
    Enter the unique name, brief description, and due date for this project and select a rubric in the drop-down menu
    below. If you wish to evaluate the project with narrative comments only, select “No rubric.” Please be sure to
    indicate whether this is a group or individual project.
  </p>

<% end %>

<% content_for :content_frames do %>
  <%= simple_form_for(@project, :url => course_manage_project_path(@course, @project)) do |f| %>
    <%= render 'form', :f => f %>
    <div class="input-group">
      <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
      <%= f.button :submit, 'Save project', :class => 'teal-plus-button' %>
    </div>
  <% end %>
<% end %>
