<% content_for :heading do %>
  <h2 class="heading-primary">
    Edit Project
  </h2>
<% end %>

<% content_for :heading_links do %>
  <%= link_to 'Back', course_manage_projects_path(@course), :class => 'secondary-button gray-ex-button' %>
<% end %>

<% content_for :content do %>
  <div class="page-section">
    Enter the unique name, brief description, and due date for this project and select a rubric in the drop-down menu
    below. If you wish to evaluate the project with narrative comments only, select “No rubric.” Please be sure to
    indicate whether this is a group or individual project.
  </div>

  <%= simple_form_for(@project, :url => course_manage_project_path(@course, @project), :html => {:class => 'formgrid'}) do |f| %>
    <%= render 'form', :f => f %>
    <div class="formgrid whole">
      <%= f.button :submit, 'Update project', :class => 'primary-button' %>
      <%= link_to 'Back', course_manage_projects_path(@course), :class => 'secondary-button' %>
    </div>
  <% end %>


<% end %>



