<% content_for :content_header do %>
Manage Course Projects
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'New Project', new_course_manage_project_path(@course), :class => 'teal-plus-button' %>
<% end %>

<% content_for :content_intro do %>
  <p>
    The following table contains the projects that you have configured for this course. Click the links below
    to edit or delete existing projects. Click the "new project" button, above, to create a new project for the
    course.
  </p>
<% end %>

<% content_for :content_frames do %>
  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rubric</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <th>
            <%= link_to project.name, course_manage_project_path(@course, project), :class => "table--heading" %>
          </th>
          <td><%= project.description %></td>
          <td><%= project.rubric_name %></td>
          <td style="white-space: nowrap">
            <% if can? :update, project %>
              <strong><%= link_to 'Edit', edit_course_manage_project_path(@course, project) %></strong> /
            <% end %>
            <% if can? :destroy, project %>
              <strong><%= link_to 'Delete', course_manage_project_path(@course, project), method: :delete, data: { modalconfirm: 'Deleting this project will also delete submissions and evaluations associated with this project. This action is irreversible. Are you sure you want to do this?' } %></strong>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @projects %>
<% end %>







