<% content_for :content_header do %>
  Project Details
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
  <h2 class="frame--title"><%= @project.name %></h2>

<% end %>

<% content_for :content_frames	 do %>

  <div class="input-group">
    <span class="text-label">Course</span>
    <span><%= @project.course %></span>
  </div>

  <div class="input-group">
    <span class="text-label">Description</span>
    <span><%= @project.description %></span>
  </div>

  <div class="input-group">
    <div class="input-group--half">
      <span class="text-label">Rubric</span>
      <span><%= @project.rubric || 'None' %></span>
    </div>
    <div class="input-group--half">
      <span class="text-label">Who May Create a Submission for this Project?</span>
      <span><%= @project.type_human.capitalize %></span>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group--half">
      <span class="text-label">Due Date</span>
      <span><%= @project.due_date %></span>
    </div>
    <div class="input-group--half">
    </div>
  </div>



  <p>
    <% if can? :update, @project %>
      <%= link_to 'Edit', edit_course_manage_project_path(@course, @project), :class => 'teal-arrow-button'  %>
    <% end %>
    <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
  </p>

  </ul>

<% end %>

