<% content_for :content_header do %>
  Project Details
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
  <h2 class="frame--title"><%= @project.name %></h2>
  <p>
    <%= @project.description %>
  </p>

<% end %>

<% content_for :content_frames	 do %>
  <div class="page-content--frame">
    <p>
      <strong>Course:</strong>
      <%= @project.course %>
    </p>

    <p>
      <strong>Project type:</strong>
      <%= @project.project_type %>
    </p>

    <p>
      <% if can? :update, @project %>
        <%= link_to 'Edit', edit_course_manage_project_path(@course, @project), :class => 'teal-arrow-button'  %>
      <% end %>
      <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
    </p>

    </ul>
  </div>


<% end %>

