<th>
	{{#if isAdmin}}
		<a href="/admin/users/{{user}}">{{user_name}}</a>
	{{else}}
		{{user_name}}
	{{/if}}
</th>
<td>{{email}}</td>
<td>{{last_sign_in_at}}</td>
<td style="width: 10%;"><a data-behavior="destroy" href="" class="gentle-warning-button delete-button">Remove From
	Course</a></td>
