<% if evaluator_or_admin? %>
    <%= link_to course_path(course) do %>
        <div class="course-id">
          <%= course.department + ' ' + course.number %>
        </div>
        <div class="course-details">
          <%= course.name %>
        </div>
        <div class="course-details">
          Section <%= course.section %>
        </div>
    <% end %>
<% else %>
    <%= link_to portfolio_course_path(course) do %>
        <div class="course-id">
          <%= course.department + ' ' + course.number %>
        </div>
        <div class="course-details">
          <%= course.name %>
        </div>
        <div class="course-details">
          Section <%= course.section %>
        </div>
    <% end %>
<% end %>
