<% body = capture do %>
  <div class="portfolio">

    <% if course.has_projects? %>
      <% course.submissions_for_creator(current_user).each_with_index do |submission, index| %>
        <div class="page-section--subsection page-section--subsection-ruled portfolio-item">
          <div class="portfolio-item--thumb">
            <% if submission.has_video? %>
              <div class="thumb-container">
                <%= link_to image_tag(submission.thumb), submission_detail_path(submission) %>
              </div>
            <% else %>
              <div class="thumb-placeholder"></div>
            <% end %>
          </div>
          <div class="portfolio-item--content">

            <h3 class="heading-tertiary">
              <%= link_to submission.project, submission_detail_path(submission) %>
            </h3>

            <% if submission.project.evaluatable? %>
              <div class="portfolio-item--ranges">

                <% if submission.course_allows_peer_review? %>
                  <div class="evaluation-collection-peer">
                    <div data-behavior="range" class="range range-secondary">
                      <h4 class="range--title">
                        Average Peer Score
                      </h4>
                      <div class="range--track">
                        <span style="width: <%= submission.peer_score_percentage %>%" class="range--fill"></span>
                        <div class="range--handle"><b></b><%= (submission.peer_score_percentage || 0).to_int %>%</div>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if submission.project.evaluatable? %>
                  <div class="evaluation-collection-instructor">
                    <div data-behavior="range" class="range range-secondary">
                      <h4 class="range--title">
                        Average Instructor Score
                      </h4>
                      <div class="range--track">
                        <span style="width: <%= submission.instructor_score_percentage %>%" class="range--fill"></span>
                        <div class="range--handle"><b></b><%= (submission.instructor_score_percentage || 0).to_int %>%</div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>

            <ul class="bubble">
              <li data-behavior="post-count">2 Comments</li>
            </ul>

          </div>
          <div class="portfolio-item--info">
            <% if submission.has_video? %>
              <div class="timestamp">
                Posted <%= submission.video.created_at.strftime('%B %e, %Y at %l:%M %p') %>
              </div>
            <% else %>
              <div class="timestamp">
                Video Not Yet Uploaded
              </div>
            <% end %>

            <% if submission.project.evaluatable? %>

              <% if submission.evaluated_by_instructor? %>
                <div class="label label-active">Scored by Instructor</div>
              <% else %>
                <div class="label label-inactive">Awaiting Instructor Score</div>
              <% end %>

              <% if submission.course_allows_peer_review? %>
                <% if submission.evaluated_by_peers? %>
                  <div class="label label-active">Scored by Peer(s)</div>
                <% else %>
                  <div class="label label-inactive">Awaiting Peer Score(s)</div>
                <% end %>
              <% end %>

            <% end %>

            <% if submission.new_posts_for_user?(current_user) %>
              <div class="label label-active">New Posts Since Last Login</div>
            <% else %>
              <div class="label label-inactive">No New Posts</div>
            <% end %>

          </div>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-notice">
        No projects have been created for this course. Please check back soon.
      </div>
    <% end %>
  </div>


<% end %>
<%= render :partial => 'shared/section', :locals => {:header => course, :body => body} %>

