<% content_for :content_header do %>
  Videos
<% end %>

<% content_for :content_header_links do %>
<% end %>

<% content_for :content_intro do %>
  <form>
    <fieldset>
      <div class="input-group">
        <div class="input-group--fourth">
          <%= label_tag :creator, 'Creator Name or Email', {:class => 'text-label'} %>
          <%= text_field_tag(:creator, params[:creator], {:class => 'text-input'}) %>
        </div>
        <div class="input-group--fourth">
          <%= label_tag :source, 'Video Type', {:class => 'text-label'} %>
          <%= select_tag(:source, options_for_select(Video::SOURCES.collect { |source| [source.capitalize, source]}, params[:source]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
        </div>
        <div class="input-group--fourth">
          <%= label_tag :state, 'Video State', {:class => 'text-label'} %>
          <%= select_tag(:state, options_for_select(Attachment.state_machine.states.collect{ |state| [state.human_name.capitalize, state.name]}, params[:source]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
        </div>
        <div class="input-group--fourth">
          <label class="text-label">&nbsp;</label>
          <%= submit_tag('Filter Videos', {:class => 'large-teal-button'}) %>
        </div>
      </div>
    </fieldset>
  </form>
<% end %>

<% content_for :content_frames do %>
  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Type</th>
        <th>Creator</th>
        <th>Course</th>
        <th>State</th>
      </tr>
      </thead>
      <tbody>
      <% @videos.each do |video| %>
        <tr>
          <th><%= video.id %></th>
          <td><%= time_ago_in_words video.created_at %> ago</td>
          <td><%= video.source.capitalize %></td>
          <td><%= video.creator %></td>
          <td><%= video.course.format '%d%n %S %y [#%s]' %></td>
          <td><%= video.state %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <nav class="pagination-nav">
      <%= paginate @videos %>
    </nav>
  </div>

<% end %>







