<% content_for :heading do %>
  <% if @course %>
    <%= link_to 'Back to Courses', admin_courses_path(), :class => 'header-link back-link' %>
  <% end %>
  <% if @course && !@course.new_record? %>
    <h2 class="heading-primary">
      <%= @course %>
    </h2>
   <% else %>
    <h3 class="heading-primary">
      <% if local_assigns.fetch(:header, nil) %>
        <%= header %>
      <% else %>
        Courses
      <% end %>
    </h3>
  <% end %>
<% end %>

<% content_for :heading_links do %>
  <% unless local_assigns.fetch :hide_new, nil %>
    <%= link_to 'Add New Course', new_admin_course_path, :class => 'primary-button new-button' %>
  <% end %>
  <div class="dropdown dropdown-button" data-behavior="dropdown">
    <a class="dropdown--toggle" data-behavior="toggle" href="#">Course Actions</a>
    <div class="dropdown--options" data-behavior="dropdown-options">
      <%= render 'nav', :course => course %>
    </div>
  </div>
<% end %>


