<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'Edit Course Properties' %>

  <%= render 'shared/model_errors', :model => @course %>

  <%= form_for [:admin, @course] do |f| %>
    <%= render 'form', :f => f %>
    <div class="input-group">
      <%= f.submit 'Update Course', :class => 'teal-plus-button' %>
      <%= link_to 'Back', admin_course_path(@course), :class => 'gray-ex-button' %>
    </div>
  <% end %>
<% end %>

