<%= render :partial => 'heading', :locals => {course: @course} %>

<% content_for :content do %>
  <% body = capture do %>
    <%= form_for [:admin, @course], :html => {:class => 'formgrid'} do |f| %>
      <fieldset>
        <%= render 'shared/model_errors', :model => @course %>
        <%= render 'form', :f => f %>
        <div class="formgrid whole">
          <%= f.button 'Update Course', :class => 'primary-button new-button' %>
          <%= link_to 'Cancel', admin_course_path(@course), :class => 'secondary-button cancel-button' %>
        </div>
      </fieldset>
    <% end %>
  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Edit Course Properties', :body => body} %>
<% end %>

