<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_frames	 do %>
  <%= render 'header', :subheader => 'Export Data' %>
  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th>Report Name</th>
        <th>Description</th>
        <th>Formats</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <th>Roster</th>
          <td>Download a list of all students in the course</td>
          <td>
            <%= link_to 'CSV', course_roster_admin_reports_path(@course, :format => 'csv'), :class => 'small-teal-arrow-button' %>
            <%= link_to 'JSON', course_roster_admin_reports_path(@course, :format => 'json'), :class => 'small-teal-arrow-button' %>
            <%= link_to 'Text', course_roster_admin_reports_path(@course, :format => 'text'), :class => 'small-teal-arrow-button' %>
          </td>
        </tr>
        <tr>
          <th>Scores</th>
          <td>Includes total score for all course submissions</td>
          <td>
            <%= link_to 'CSV', course_scores_admin_reports_path(@course, :format => 'csv'), :class => 'small-teal-arrow-button' %>
            <%= link_to 'JSON', course_scores_admin_reports_path(@course, :format => 'json'), :class => 'small-teal-arrow-button' %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<% end %>