<%= render :partial => 'header' %>

<% content_for :content do %>
  <form>
    <fieldset>
      <div class="formgrid third">
        <%= label_tag :department, 'Department', {:class => 'text-label'} %>
        <%= select_tag(:department, options_for_select(Course.distinct_departments, params[:department]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
      </div>
      <div class="formgrid third">
        <%= label_tag :semester, 'Semester', {:class => 'text-label'} %>
        <%= select_tag(:semester, options_from_collection_for_select(Semester.all, 'id', 'name', params[:semester]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
      </div>
      <div class="formgrid third">
        <%= label_tag :year, 'Year', {:class => 'text-label'} %>
        <%= select_tag(:year, options_for_select(Course.distinct_years, params[:year]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
      </div>
      <div class="formgrid third">
        <%= label_tag :evaluator, 'Instructor', {:class => 'text-label'} %>
        <%= select_tag(:evaluator, options_from_collection_for_select(User.evaluators, 'id', 'list_name', params[:evaluator]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
      </div>
      <div class="formgrid third">
        <%= label_tag :section, 'Section', {:class => 'text-label'} %>
        <%= text_field_tag(:section, params[:section], {:class => 'text-input'}) %>
      </div>
      <div class="formgrid third">
        <label class="text-label">&nbsp;</label>
        <%= submit_tag('Filter Courses', {:class => 'large-teal-button'}) %>
      </div>
    </fieldset>
  </form>

  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th class="">Number</th>
        <th class="">Name</th>
        <th class="">Instructor</th>
        <th class="">Section</th>
        <th class="">Semester</th>
        <th class="">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @courses.each do |course| %>
        <tr>
          <th><%= link_to "#{course.department}#{course.number}", course_user_evaluations_path(course) %></th>
          <td><%= course.name %></td>
          <td><%= course.evaluators.pluck(:last_name).join(', ') %></td>
          <td><%= course.section %></td>
          <td><%= "#{course.semester} #{course.year}" %></td>
          <td><%= render 'nav', :course => course %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <nav class="pagination-nav">
      <%= paginate @courses %>
    </nav>
  </div>

<% end %>







