<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Create New Course', new_admin_course_path, class: 'teal-plus-button' %>
<% end %>

<% content_for :content_intro do %>
  <form>
    <fieldset>
      <div class="input-group">
        <div class="input-group--fourth">
          <%= label_tag :department, 'Department', {:class => 'text-label'} %>
          <%= select_tag(:department, options_for_select(Course.distinct_departments, params[:department]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
        </div>
        <div class="input-group--fourth">
          <%= label_tag :semester, 'Semester', {:class => 'text-label'} %>
          <%= select_tag(:semester, options_from_collection_for_select(Semester.all, 'id', 'name', params[:semester]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
        </div>
        <div class="input-group--fourth">
          <%= label_tag :year, 'Year', {:class => 'text-label'} %>
          <%= select_tag(:year, options_for_select(Course.distinct_years, params[:year]), {:include_blank => true, 'data-behavior' => 'chosen'}) %>
        </div>
        <div class="input-group--fourth">
          <label class="text-label">&nbsp;</label>
          <%= submit_tag('Filter Courses', {:class => 'large-teal-button'}) %>
        </div>
      </div>
    </fieldset>
  </form>
  <form>
    <fieldset>
      <div class="input-group">
        <div class="input-group--fourth">
          <%= label_tag :section, 'Section', {:class => 'text-label'} %>
          <%= text_field_tag(:section, params[:section], {:class => 'text-input'}) %>
        </div>
        <div class="input-group--fourth">
          <label class="text-label">&nbsp;</label>
          <%= submit_tag('Find Course by Section',  {:class => 'large-teal-button'}) %>
        </div>
      </div>
    </fieldset>
  </form>

<% end %>

<% content_for :content_frames do %>
  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Section</th>
        <th>Semester</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @courses.each do |course| %>
        <tr>
          <th><%= link_to "#{course.department}#{course.number}", admin_course_path(course) %></th>
          <td><%= course.name %></td>
          <td><%= course.section %></td>
          <td><%= "#{course.semester} #{course.year}" %></td>
          <td><strong>
             <%= link_to 'View as Course Evaluator', course_user_evaluations_path(course) %>
          </strong></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <nav class="pagination-nav">
      <%= paginate @courses %>
    </nav>
  </div>

<% end %>







