<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Course List', admin_courses_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames do %>
  <nav class="tab-nav space-bottom">
    <ul>
      <li><%= link_to 'All Courses', admin_courses_path %></li>
      <li>New</li>
    </ul>
  </nav>
  <header class="button-header">
    <h2 class="button-header--title space-bottom">Create a new course</h2>
  </header>

  <%= form_errors @course %>

  <%= form_for [:admin, @course] do |f| %>
    <%= render 'form', :f => f %>
    <div class="input-group">
      <%= link_to 'Back', admin_courses_path, :class => 'gray-ex-button' %>
      <%= f.submit 'Create Course', :class => 'teal-plus-button' %>
    </div>
  <% end %>
<% end %>

