<%= render :partial => 'heading', :locals => {course: @course, subheader: 'Overview'} %>

<% content_for :content do %>

  <% body = capture do %>
    <%= render 'shared/course_synopsis', :course => @course %>
  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Stats', :body => body} %>


  <% body = capture do %>
    <div class="input-group">
      <span class="text-label">Department, Number, and Section</span>
      <span><%= @course.format "%d%n, Section %s" %></span>
    </div>
    <div class="input-group">
      <span class="text-label">Course Message</span>
      <span>
        <% if @course.message.blank? %>
          No message has been set for this course.
        <% else %>
          <%= simple_format @course.message %>
        <% end %>
      </span>
    </div>
    <div class="input-group">
      <span class="text-label">Description</span>
      <span>
        <% if @course.description.blank? %>
          No description has been added for this course.
        <% else %>
          <%= simple_format @course.description %>
        <% end %>
      </span>
    </div>
  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Properties', :body => body} %>

  <% body = capture do %>
    <%= render 'shared/course_recent_submissions', :course => @course %>
  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Recently Updated Submissions', :body => body} %>

  <% body = capture do %>
    <%= render 'shared/course_projects', :course => @course %>
  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Projects', :body => body} %>



<% end %>

