<%= render :partial => 'heading', :locals => {course: @course, subheader: 'Overview'} %>

<% content_for :content do %>

  <div class="page-section">
    <div class="header-wrapper">
      <div class="header">
        <h2 class="heading-page-section">Overview</h2>
      </div>
    </div>
    <div class="body secondary">
      <%= render 'shared/course_synopsis', :course => @course %>
    </div>
  </div>

	<% body = capture do %>
		<div class="fake-formgrid">
			<div class="formgrid third">
				<span class="label">Department and Number</span>
				<span><%= "#{@course.department}#{@course.number}" %></span>
			</div>

			<div class="formgrid third">
				<span class="label">Section</span>
				<span><%= @course.section %></span>
			</div>

			<div class="formgrid third">
				<span class="label">Semester, Year</span>
        <span>
          <%= "#{@course.semester || 'N/A'}, #{@course.year}" %>
        </span>
			</div>

			<div class="formgrid whole">
				<span class="label">Course Message</span>
        <span>
          <% if @course.message.blank? %>
            No message has been set for this course.
          <% else %>
            <%= simple_format @course.message %>
          <% end %>
        </span>
			</div>

			<div class="formgrid whole">
				<span class="label">Course Description</span>
        <span>
        <% if @course.description.blank? %>
          No description has been added for this course.
        <% else %>
          <%= simple_format @course.description %>
        <% end %>
        </span>
			</div>
		</div>

	<% end %>
	<%= render :partial => 'shared/section', :locals => {:header => 'Properties', :body => body} %>


<% end %>

