<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Course List', admin_courses_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>

  <nav class="tab-nav">
    <ul>
      <li><%= link_to 'All Courses', admin_courses_path %></li>
      <li><%= link_to @course.section, admin_course_path(@course) %></li>
    </ul>
  </nav>
  <header class="button-header">
    <%= link_to 'Edit Course', edit_admin_course_path(@course) %>
    <h2 class="button-header--title space-bottom"><%= "#{@course.name} - #{@course.semester_name} #{@course.year}" %></h2>
  </header>

  <div>
    <div class="input-group">
      <span class="text-label">Course Name</span>
      <span><%= @course.name %></span>
    </div>
    <div class="input-group">
      <div class="input-group--third">
        <div class="input-group">
          <span class="text-label">Department</span>
          <span><%= @course.department %></span>
        </div>
      </div>
      <div class="input-group--third">
        <div class="input-group">
          <span class="text-label">Number</span>
          <span><%= @course.number %></span>
        </div>
      </div>
      <div class="input-group--third">
        <div class="input-group">
          <span class="text-label">Section</span>
          <span><%= @course.section %></span>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group--third">
        <div class="input-group">
          <span class="text-label">Semester</span>
          <span><%= @course.semester_name %></span>
        </div>
      </div>
      <div class="input-group--third">
        <div class="input-group">
          <span class="text-label">Year</span>
          <span><%= @course.year %></span>
        </div>
      </div>
    </div>

    <div class="input-group">
      <span class="text-label">Message</span>
      <span><%= @course.message %></span>
    </div>
    <div class="input-group">
      <span class="text-label">Description</span>
      <span><%= @course.description %></span>
    </div>
  </div>

  <div class="double-space-bottom">
    <header class="frame--header">
      <h2 class="frame--title">Evaluators</h2>
    </header>
    <div data-region="evaluator-enrollment">
    </div>
  </div>

  <div>
    <header class="frame--header">
      <h2 class="frame--title">Creators</h2>
    </header>
    <div data-region="creator-enrollment">
    </div>
  </div>
<% end %>

