<%= render :partial => 'heading', :locals => {course: @course, subheader: 'Overview'} %>

<% content_for :content do %>

  <% body = capture do %>
    <%= render 'shared/course_synopsis', :course => @course %>
  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Overview', :body => body} %>


  <% body = capture do %>
    <div class="fake-formgrid">
      <div class="formgrid third">
        <span class="label">Department and Number</span>
        <span><%= "#{@course.department}#{@course.number}" %></span>
      </div>

      <div class="formgrid third">
        <span class="label">Section</span>
        <span><%= @course.section %></span>
      </div>

      <div class="formgrid third">
        <span class="label">Semester</span>
        <span><%= "#{@course.semester}, #{@course.year}" %></span>
      </div>

      <div class="formgrid whole">
        <span class="label">Course Message</span>
        <span>
          <% if @course.message.blank? %>
            No message has been set for this course.
          <% else %>
            <%= simple_format @course.message %>
          <% end %>
        </span>
      </div>

      <div class="formgrid whole">
        <span class="label">Course Description</span>
        <span>
        <% if @course.description.blank? %>
          No description has been added for this course.
        <% else %>
          <%= simple_format @course.description %>
        <% end %>
        </span>
      </div>
    </div>

  <% end %>
  <%= render :partial => 'shared/section', :locals => {:header => 'Properties', :body => body} %>


<% end %>

