<div data-behavior="header-drawer" class="page-header--drawer">
  <div class="drawer--contents">
    <ul class="drawer-nav">
      <% if @app_section == 'course' %>
        <% if current_user.can?(:evaluate, @selected_course) %>
          <li class="a">
            <div class="drawer-nav--column">
              <% if @selected_course.role(current_user) == :creator %>
                <h4>Peer Review</h4>
              <% else %>
                <h4>Evaluate</h4>
              <% end %>
              <ul>
                <li><%=  link_to 'Individual Work', course_user_evaluations_path(@selected_course) %></li>
                <li><%=  link_to 'Group Work', course_group_evaluations_path(@selected_course) %></li>
              </ul>
            </div>
          </li>
        <% end %>
        <% if current_user.can?(:portfolio, @selected_course) %>
          <li class="b">
            <div class="drawer-nav--column">
              <h4>Individual Projects</h4>
              <ul>
                <% @selected_course.user_projects.each do |project| %>
                  <li>
                    <%= link_to project, course_user_creator_project_detail_path(@selected_course, current_user, project) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
          <% if current_user.course_groups(@selected_course).count > 0 && @selected_course.group_projects.count > 0 %>
          <li class="c">
            <div class="drawer-nav--column">
                <h4>Group Projects</h4>
                <ul>
                  <% current_user.course_groups(@selected_course).each do |group| %>
                    <% @selected_course.group_projects.each do |project| %>
                      <li>
                        <%= link_to "#{group} - #{project}", course_group_creator_project_detail_path(@selected_course, group, project) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
          </li>
          <% end %>
        <% end %>
        <% if current_user.can?(:administer, @selected_course) %>
        <li>
          <div class="drawer-nav--column">
            <h4>Setup Your Course</h4>
            <ul>
              <li><%=  link_to 'Projects', course_manage_projects_path(@selected_course) %></li>
              <li><%=  link_to 'Groups', course_manage_groups_path(@selected_course) %></li>
              <li><%=  link_to 'Enrollment', course_manage_enrollment_path(@selected_course) %></li>
              <li><%=  link_to 'Settings', course_manage_path(@selected_course) %></li>
            </ul>
          </div>
        </li>
        <% end %>
      <% end %>
      <% if current_user && current_user.has_courses %>
      <li>
        <div class="drawer-nav--column">
          <h4>Your Courses</h4>
          <ul>
            <% current_user.courses.each do |course| %>
              <% if course.role(current_user) == :evaluator || course.role(current_user) == :assistant %>
                <li><a <%= if @selected_course == course then 'class=active' end %> href="<%= url_for course_user_evaluations_path(course) %>"><%= raw "<strong>#{course.department}#{course.number}: </strong> #{truncate(course.name, length: 50, seperator: ' ')} <small>(#{course.section})</small>" %></a></li>
              <% else %>
                <li><a <%= if @selected_course == course then 'class=active' end %> href="<%= url_for portfolio_course_path(course) %>"><%= raw "<strong>#{course.department}#{course.number}: </strong> #{truncate(course.name, length: 50, seperator: ' ')} <small>(#{course.section})</small>" %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>

      <% if current_user.role? :administrator %>
      <li>
        <div class="drawer-nav--column">
          <h4>Administer VOCAT</h4>
          <ul>
            <li><%= link_to 'Courses', admin_courses_path %></li>
            <li><%= link_to 'Course Requests', admin_course_requests_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Videos', admin_videos_path %></li>
          </ul>
        </div>
      </li>
      <% end %>

      <% if current_user.can?(:create, Rubric) %>
      <li>
        <div class="drawer-nav--column">
          <h4>Rubrics</h4>
          <ul>
            <% if @app_section == 'course' %>
              <li><%=  link_to 'Create a New Rubric', new_course_manage_rubric_path(@selected_course) %></li>
            <% else %>
              <li><%=  link_to 'Create a New Rubric', new_rubric_path %></li>
            <% end %>

            <% if @app_section == 'course' %>
              <li><%=  link_to 'My Rubrics', course_manage_rubrics_path(@selected_course) %></li>
            <% else %>
              <li><%=  link_to 'My Rubrics', rubrics_path %></li>
            <% end %>

            <% if current_user.role? :administrator %>
              <li><%= link_to 'System Rubrics', admin_rubrics_path %></li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
