<div data-behavior="header-drawer" class="page-header--drawer">
  <div class="drawer--contents">
    <ul class="drawer-nav">
      <% if @app_section == 'course' %>
      <li>
        <div class="drawer-nav--column">
          <h4>Evaluations</h4>
          <ul>
            <li><%=  link_to 'Evaluate Student Submissions', course_user_evaluations_path(@selected_course) %></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="drawer-nav--column">
          <h4>Setup Your Course</h4>
          <ul>
            <li><%=  link_to 'Create Projects', course_manage_projects_path(@selected_course) %></li>
            <li><%=  link_to 'Configure Groups', course_manage_groups_path(@selected_course) %></li>
            <li>Manage Enrollment</li>
            <li><%=  link_to 'Adjust Course Settings', course_manage_path(@selected_course) %></li>
          </ul>
        </div>
      </li>
      <% end %>

      <% if current_user && current_user.has_courses %>
      <li>
        <div class="drawer-nav--column">
          <h4>Your Courses</h4>
          <ul>
            <% current_user.courses.each do |course| %>
              <% if course.role(current_user) == :evaluator || course.role(current_user) == :assistant %>
                <li><a <%= if @selected_course == course then 'class=active' end %> href="<%= url_for course_user_evaluations_path(course) %>"><%= raw "<strong>#{course.department}#{course.number}: </strong> #{truncate(course.name, length: 50, seperator: ' ')} <small>(#{course.section})</small>" %></a></li>
              <% else %>
                <li><a <%= if @selected_course == course then 'class=active' end %> href="<%= url_for portfolio_course_path(course) %>"><%= raw "<strong>#{course.department}#{course.number}: </strong> #{truncate(course.name, length: 50, seperator: ' ')} <small>(#{course.section})</small>" %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>

      <% if current_user.role? :administrator %>
      <li>
        <div class="drawer-nav--column">
          <h4>Administer VOCAT</h4>
          <ul>
            <li><%= link_to 'Courses', admin_courses_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Videos', admin_videos_path %></li>
          </ul>
        </div>
      </li>
      <% end %>

      <li>
        <div class="drawer-nav--column">
          <h4>Rubrics</h4>
          <ul>
            <li>Create a New Rubric</li>

            <% if @app_section == 'course' %>
            <li><%=  link_to 'My Rubrics', course_manage_rubrics_path(@selected_course) %></li>
            <% end %>

            <% if current_user.role? :administrator %>
              <li><%= link_to 'System Rubrics', admin_rubrics_path %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
