<div data-behavior="header-drawer" data-course-count="<%= current_user.courses_count %>" class="page-header--drawer">
	<div class="drawer--contents">
		<ul class="drawer-nav">
			<% if @app_section == 'course' %>
				<% if current_user.can?(:portfolio, @selected_course) && @selected_course.user_projects.count > 0 %>
					<li class="b">
						<div class="drawer-nav--column">
							<h4>Individual Projects</h4>
							<ul>
								<% @selected_course.user_projects.each do |project| %>
									<li>
										<%= link_to project, course_user_creator_project_detail_path(@selected_course, current_user, project) %>
									</li>
								<% end %>
							</ul>
						</div>
					</li>
					<% if current_user.course_groups(@selected_course).count > 0 && @selected_course.group_projects.count > 0 %>
					<li class="c">
						<div class="drawer-nav--column">
								<h4>Group Projects</h4>
								<ul>
									<% current_user.course_groups(@selected_course).each do |group| %>
										<% @selected_course.group_projects.each do |project| %>
											<li>
												<%= link_to "#{group} - #{project}", course_group_creator_project_detail_path(@selected_course, group, project) %>
											</li>
										<% end %>
									<% end %>
								</ul>
						</div>
					</li>
					<% end %>
				<% end %>
			  	<% if current_user.can?(:show_submissions, @selected_course) %>
					<li class="a">
						<div class="drawer-nav--column">
							<% if @selected_course.role(current_user) == :creator %>
								<h4>Peer Review</h4>
							<% else %>
								<h4>Evaluate</h4>
							<% end %>
							<ul>
								<li><%=  link_to 'Individual Work', course_user_evaluations_path(@selected_course) %></li>
								<li><%=  link_to 'Group Work', course_group_evaluations_path(@selected_course) %></li>
							</ul>
						</div>
					</li>
				<% end %>
				<% if current_user.can?(:administer, @selected_course) %>
				<li>
					<div class="drawer-nav--column">
						<h4>Setup Your Course</h4>
						<ul>
							<li><%=  link_to 'Projects', course_manage_projects_path(@selected_course) %></li>
							<li><%=  link_to 'Groups', course_manage_groups_path(@selected_course) %></li>
							<li><%=  link_to 'Enrollment', course_manage_enrollment_path(@selected_course) %></li>
							<li><%=  link_to 'Settings', course_manage_path(@selected_course) %></li>
						</ul>
					</div>
				</li>
				<% end %>
			<% end %>
			<% if current_user %>
			<li>
				<div  class="drawer-nav--column drawer-nav--course-column" >
					<h4>Your Courses</h4>
					<div class="drawer-course-list">
						<ul data-behavior="drawer-courses">
							<% if current_user.courses_count == 0 %>
								<li>You are not currently enrolled any VOCAT courses.</li>


							<% elsif current_user.courses_count < 5 %>
								<% current_user.sorted_courses().each do |course| %>
								<li>
									<a href="<%= user_course_url(current_user, course) %>">
										<%= "#{course.department} #{course.number}" %><br />
										<%= "#{course.name}" %><br />
										<small><%= "#{course.semester} #{course.year}, Section #{course.section}" %></small>
									</a>
								</li>
								<% end %>
							<% else %>
								<li style="margin-bottom: 3em; ">
									<select style="width: 100%;" data-class="course-select" data-behavior="chosen">
										<% current_user.grouped_sorted_courses().each do |semester, courses| %>
											<optgroup label="<%= semester %>">
												<% courses.each do |course| %>
													<option <% if course == @selected_course %>selected="selected"<% end %>value="<%= user_course_url(current_user, course) %>">
														<%= "#{course.department} #{course.number} Section #{course.section}" %>
													</option>
												<% end %>
											</optgroup>
										<% end %>
									</select>
									<small style="display: block; margin-top: .5em; line-height: 1.25em;">
										You are associated with <%= pluralize current_user.courses_count, 'VOCAT course', 'VOCAT courses' %>.
									</small>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</li>
			<% end %>

			<% if current_user.role? :administrator %>
			<li>
				<div class="drawer-nav--column">
					<h4>Administer VOCAT</h4>
					<ul>
						<li><%= link_to 'Courses', admin_courses_path %></li>
						<li><%= link_to 'Course Requests', admin_course_requests_path %></li>
						<li><%= link_to 'Users', admin_users_path %></li>
						<li><%= link_to 'Videos', admin_videos_path %></li>
					</ul>
				</div>
			</li>
			<% end %>

			<% if current_user.can?(:create, Rubric) %>
			<li>
				<div class="drawer-nav--column">
					<h4>Rubrics</h4>
					<ul>
						<% if @app_section == 'course' %>
							<li><%=  link_to 'Create a New Rubric', new_course_manage_rubric_path(@selected_course) %></li>
						<% else %>
							<li><%=  link_to 'Create a New Rubric', new_rubric_path %></li>
						<% end %>

						<% if @app_section == 'course' %>
							<li><%=  link_to 'My Rubrics', course_manage_rubrics_path(@selected_course) %></li>
						<% else %>
							<li><%=  link_to 'My Rubrics', rubrics_path %></li>
						<% end %>

						<% if current_user.role? :administrator %>
							<li><%= link_to 'System Rubrics', admin_rubrics_path %></li>
						<% end %>
					</ul>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>
