<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><%= content_for?(:title) ? yield(:title) : "VOCAT" %></title>
<meta name="description" content="">
<meta name="author" content="">

<%= javascript_include_tag '//use.typekit.net/dwf7ffn.js' %>
<%= javascript_include_tag 'vendor/modernizr/modernizr-2.6.2' %>
<%= javascript_include_tag 'vendor/popcorn/popcorn' %>
<% if Rails.env.development? %>
<%= javascript_include_tag 'vendor/require/require', 'data-main' => '/assets/bootstrap' %>
<% else %>
<%= javascript_include_tag 'vendor/require/require', 'data-main' => '/build/bootstrap' %>
<% end %>

<script type="text/javascript">
  window.VocatSessionData = JSON.parse('<%= raw @session_data.to_json %>');
</script>

<%= stylesheet_link_tag "application", :media => "all" %>

<!--[if lte IE 8]>
<%= javascript_include_tag 'vendor/rem_unit_polyfill/rem.min.js' %>
<!--<![endif]-->

<%= csrf_meta_tags %>

<%= yield(:head) %>

<!--
  <script type="text/javascript">
<% if content_for?(:backbone_router) %>
  <%= yield(:backbone_router) %>
<% else %>

<% end %>
  </script>
  -->