<header class="page-header">
	<div style="position: relative">
		<div class="page-header--navigation-wrapper">
			<div class="page-header--navigation">
				<nav class="page-header--logo-nav">
					<%= link_to image_tag("png/logo.png", :alt => "VOCAT"), root_path %>
				</nav>
				<% if user_signed_in? %>

					<div class="nav-trigger-wrapper">
						<% if @app_section == 'manage' %>
							<%= render 'layouts/navigation/context_nav_trigger' %>
						<% end %>

						<% if @app_section == 'admin' %>
							<%= render 'layouts/navigation/context_nav_trigger' %>
							<%= render 'layouts/navigation/section_nav_trigger' %>
						<% end %>

						<% if @app_section == 'course' %>
							<%= render 'layouts/navigation/context_nav_trigger' %>
							<%= render 'layouts/navigation/section_nav_trigger' %>
						<% end %>

						<% if @app_section == 'dashboard' %>
							<%= render 'layouts/navigation/section_nav_trigger' %>
						<% end %>
					</div>

					<%= render 'layouts/navigation/user_nav' %>

				<% end %>

			</div>
		</div>
			<% if user_signed_in? %>

			<div data-drawer-target="context" data-behavior="header-drawer" class="page-header--drawer context-drawer">
				<div class="drawer--contents">
					<ul class="drawer-nav">
						<% if @app_section == 'course' %>
							<%= render 'layouts/navigation/context_nav_course' %>
						<% end %>

						<% if @app_section == 'admin' %>
							<%= render 'layouts/navigation/context_nav_admin' %>
						<% end %>

						<% if @app_section == 'manage' %>
							<%= render 'layouts/navigation/context_nav_manage' %>
						<% end %>

					</ul>
				</div>
			</div>

			<div data-drawer-target="section" data-behavior="header-drawer" class="page-header--drawer section-drawer">
				<div class="drawer--contents">
					<ul class="drawer-nav">
						<% if @app_section != 'manage' %>
							<%= render 'layouts/navigation/section_nav' %>
						<% end %>
					</ul>
				</div>
			</div>

					<% end %>

		</div>
	</div>
</header>
