<% hide_nav = false if local_assigns[:hide_nav].nil? %>

<header class="page-header">
	<div style="position: relative">
		<div class="page-header--navigation-wrapper">
			<div class="page-header--navigation">
				<% if user_signed_in? && !hide_nav %>

					<nav class="section-nav">
						<ul>
							<%= render 'layouts/navigation/section_nav_trigger' %>
						</ul>
					</nav>

					<%= render 'layouts/navigation/user_nav' %>

				<% end %>

			</div>
		</div>
    <% if user_signed_in? %>
			<div data-drawer-target="context" data-behavior="header-drawer" class="page-header--drawer context-drawer">
				<div class="drawer--contents">
					<ul class="drawer-nav">

						<% if @app_section == 'manage' %>
							<%= render 'layouts/navigation/context_nav_manage' %>
						<% end %>

					</ul>
				</div>
			</div>

			<div data-drawer-target="section" data-behavior="header-drawer" class="page-header--drawer section-drawer">
				<div class="drawer--contents">
					<ul class="drawer-nav">
						<% if @app_section != 'manage' %>
							<%= render 'layouts/navigation/section_nav' %>
						<% end %>
					</ul>
				</div>
			</div>

      <div data-drawer-target="help" data-behavior="header-drawer" class="page-header--drawer help-drawer">
        <div class="drawer--contents">
          <ul class="drawer-nav">
            <li><%= link_to "Documentation", "http://vocat.io/help", target: "_blank" %></li>
            <% if @current_organization && !@current_organization.support_email.blank? %>
              <li><%= link_to "Support", "mailto:#{@current_organization.support_email}?subject=VOCAT Support Request" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</header>
