<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><%= content_for?(:title) ? yield(:title) : "VOCAT" %></title>
<meta name="description" content="">
<meta name="author" content="">

<%= javascript_include_tag '//use.typekit.net/xmp6gfr.js' %>
<%= javascript_include_tag 'vendor/modernizr/modernizr-2.6.2' %>
<%= javascript_include_tag 'vendor/video_js/video' %>
<%= javascript_include_tag 'vendor/video_js/vjs.youtube' %>
<%= javascript_include_tag 'vendor/video_js/vjs.vimeo' %>
<% if Rails.env.development? %>
<%= javascript_include_tag 'vendor/require/require', 'data-main' => '/dev-assets/bootstrap' %>
<% else %>
<%= javascript_include_tag 'vendor/require/require', 'data-main' => '/build/bootstrap' %>
<% end %>

<script type="text/javascript" src="//use.typekit.net/ytz4hur.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<script type="text/javascript">
  window.VocatSessionData = JSON.parse('<%= raw @session_data.to_json %>');
  window.VocatUserRole = '<%= current_user_role %>';
  window.VocatS3Bucket = '<%= @S3_bucket %>';
  window.VocatAWSPublicKey = '<%= @aws_public_key %>';
</script>

<%= stylesheet_link_tag "application", :media => "all" %>

<!--[if lte IE 8]>
<%= javascript_include_tag 'vendor/rem_unit_polyfill/rem.min.js' %>
<!--<![endif]-->

<%= csrf_meta_tags %>

<%= yield(:head) %>

<!--
  <script type="text/javascript">
<% if content_for?(:backbone_router) %>
  <%= yield(:backbone_router) %>
<% else %>

<% end %>
  </script>
  -->