<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><%= content_for?(:title) ? yield(:title) : "VOCAT" %></title>
<meta name="description" content="">
<meta name="author" content="">
<meta content="<%= ENV["ROLLBAR_CLIENT_TOKEN"] %>" name="rollbar-client-token">

<script type="text/javascript" src="//use.typekit.net/ytz4hur.js"></script>
<script type="text/javascript">try {
	Typekit.load();
} catch (e) {
}</script>

<%= stylesheet_pack_tag "application", :media => "all" %>

<!--[if lte IE 8]>
<%= javascript_include_tag 'vendor/rem_unit_polyfill/rem.min.js' %>
<!--<![endif]-->

<%= csrf_meta_tags %>

<%= yield(:head) %>

<!--
  <script type="text/javascript">
<% if content_for?(:backbone_router) %>
	<%= yield(:backbone_router) %>
<% else %>

<% end %>
  </script>
  -->
