<nav class="logo-nav">
  <%= link_to image_tag("logo-vocat-dark.png", :class => "page-banner--logo", :alt => "VOCAT"), dashboard_path %>
</nav>

<nav class="adaptive-nav">
  <ul class="adaptive-nav--list">

    <% if current_user.role? :administrator %>
      <li data-behavior="dropdown">
        <a class="adaptive-nav--link" data-behavior="toggle" href="#">Administer VOCAT</a>
        <div class="adaptive-nav--dropdown" data-behavior="dropdown-options">
          <ul>
            <li><%= link_to 'Courses', admin_courses_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Rubrics', admin_rubrics_path %></li>
            <li><%= link_to 'Videos', admin_videos_path %></li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if @selected_course %>
      <% if current_user.role?(:creator) %>
        <li><%= link_to 'My Presentations', portfolio_course_path(:id => @selected_course) %></li>
      <% end %>

      <% if can? :evaluate, @selected_course %>
        <li><%= link_to 'Evaluations', course_user_evaluations_path(@selected_course) %></li>
      <% end %>

      <% if can? :manage, @selected_course %>
      <li data-behavior="dropdown">
        <a class="adaptive-nav--link" data-behavior="toggle" href="#">Manage Course</a>
        <div class="adaptive-nav--dropdown" data-behavior="dropdown-options">
          <ul>
            <li>
              <%=  link_to 'Projects', course_manage_projects_path(@selected_course) %>
            </li>
            <li>
              <%=  link_to 'Groups', course_manage_groups_path(@selected_course) %>
            </li>
            <li>
              <%=  link_to 'Settings', course_manage_path(@selected_course) %>
            </li>
          </ul>
        </div>
      </li>
      <% end %>
    <% end %>

    <li>
      <%=  link_to 'My Rubrics', course_manage_rubrics_path(@selected_course) %>
    </li>

  </ul>
</nav>