<% if @organization %>
  <%= link_to "VOCAT", organization_courses_path(@organization), :class => 'brand' %>
<% else %>
  <%= link_to "VOCAT", root_path, :class => 'brand' %>
<% end %>
<ul class="nav">
  <% if @courses && @organization%>
    <li>
      <div class="navbar-form">
        <%= yield :course_selector %>
      </div>
    </li>
  <% end %>
</ul>
<ul class="nav">
  <li>
    <% if user_signed_in? %>
      <p class="navbar-text"><%= current_user.role %></p>
    <% end %>
  </li>
</ul>
<ul class="nav pull-right">
  <li>
    <% if user_signed_in? %>
		  <%= link_to(current_user.email, edit_user_registration_path) %>
    <% else %>
		  <%= link_to('Sign up', new_user_registration_path)  %>
    <% end %>
  </li>
  <li>
    <% if user_signed_in? %>
      <%= link_to('Log out', destroy_user_session_path, :method=>'delete') %>
    <% else %>
      <%= link_to('Log in', new_user_session_path)  %>
    <% end %>
  </li>
</ul>