<div class="primary-nav">
  <div class="primary-nav--wrapper">

    <nav class="logo-nav">
      <%= link_to image_tag("logo-vocat-light.png", :class => "page-banner--logo", :alt => "VOCAT"), dashboard_path %>
    </nav>

    <nav class="user-selector" data-behavior="dropdown">
      <div class="primary-nav--avatar">
        <%= image_tag avatar_url(current_user, 53), :alt => current_user.name %>
      </div>
      <% if user_signed_in? %>
        <a class="user-selector--toggle" data-behavior="toggle" href="#"><%= current_user.name %></a>
        <div class="user-selector--dropdown" data-behavior="dropdown-options">
          <ul>
            <li>
              <%= link_to("#{current_user.name} [#{current_user.email}]", edit_user_registration_path) %>
            </li>
            <li>
              <%= link_to('Log out', destroy_user_session_path, :method=>'delete') %>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- TODO how should these look? -->
        <%= link_to('Sign up', new_user_registration_path)  %>
        <%= link_to('Log in', new_user_session_path)  %>
      <% end %>
    </nav>

    <header data-behavior="drawer-trigger" class="drawer-nav--trigger"><%= @selected_course || 'Dashboard' %></header>
  </div>
</div>

<nav class="drawer-nav--wrapper">
  <div class="drawer-nav">
    <ul class="drawer-nav--first">
      <li><%= link_to 'Courses', admin_courses_path %></li>
      <li><%= link_to 'Users', admin_users_path %></li>
      <li><%= link_to 'Rubrics', admin_rubrics_path %></li>
      <li><%= link_to 'Videos', admin_videos_path %></li>
    </ul>
  </div>
</nav>




<!--
  <ul class="adaptive-nav--list">
    <% if current_user.role? :administrator %>
      <li data-behavior="dropdown">
        <a class="adaptive-nav--link" data-behavior="toggle" href="#">Administer VOCAT</a>
        <div class="adaptive-nav--dropdown" data-behavior="dropdown-options">
          <ul>
            <li><%= link_to 'Courses', admin_courses_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Rubrics', admin_rubrics_path %></li>
            <li><%= link_to 'Videos', admin_videos_path %></li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if @selected_course %>
      <% if current_user.role?(:creator) %>
        <li><%= link_to 'My Presentations', portfolio_course_path(:id => @selected_course) %></li>
      <% end %>

      <% if can? :evaluate, @selected_course %>
        <li><%= link_to 'Evaluations', course_user_evaluations_path(@selected_course) %></li>
      <% end %>

      <% if can? :manage, @selected_course %>
      <li data-behavior="dropdown">
        <a class="adaptive-nav--link" data-behavior="toggle" href="#">Manage Course</a>
        <div class="adaptive-nav--dropdown" data-behavior="dropdown-options">
          <ul>
            <li>
              <%=  link_to 'Projects', course_manage_projects_path(@selected_course) %>
            </li>
            <li>
              <%=  link_to 'Groups', course_manage_groups_path(@selected_course) %>
            </li>
            <li>
              <%=  link_to 'Settings', course_manage_path(@selected_course) %>
            </li>
          </ul>
        </div>
      </li>
      <% end %>
      <li>
        <%=  link_to 'My Rubrics', course_manage_rubrics_path(@selected_course) %>
      </li>

    <% end %>
  </ul>
-->

