<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= content_for?(:title) ? yield(:title) : "VOCAT" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield(:head) %>

  <script type="text/javascript">
<%= yield(:backbone_bootstrap) %>

<% if content_for?(:backbone_router) %>
  <%= yield(:backbone_router) %>
<% else %>
  $(function() {
    window.Vocat.router = new Vocat.Routers.AppRouter();
    window.Vocat.router.initalize({})
    Backbone.history.start({pushState: true})
  });
<% end %>
  </script>

</head>

<body>
  <div class="container">
    <div class="page-banner">
      <%= image_tag("logo-vocat-dark.png", :class => "page-banner--logo", :alt => "VOCAT") %>
    </div>
    <header class="page-header js-page-header">
      <nav class="primary-nav">
        <%= render 'layouts/navigation' %>
      </nav>
      <nav class="shortcut-nav js-shortcut-nav">

      </nav>
      <%= yield(:adaptive_navigation) %>
    </header>
    <div class="page-content">
      <%= render 'layouts/messages' %>
      <%= yield %>         
    </div>
  </div> <!-- container -->
</body>
</html>
