<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%= render 'layouts/head' %>
</head>

<body class="<%= yield(:body_class) %> <%= if current_user.role == 'admin' then 'role-admin' end %> <%= if !@course then 'no-course' end %>">
  <div data-region="modal"></div>
  <div class="page-banner">
    <!-- TODO wrap this in a link -->
    <%= image_tag("logo-vocat-dark.png", :class => "page-banner--logo", :alt => "VOCAT") %>
  </div>
  <header class="page-header" data-behavior="sticky-header">
    <div class="primary-nav">
      <div class="primary-nav--wrapper">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
    <%= render 'layouts/shortcut_navigation' %>
  </header>
  <div class="container">
    <div class="page-content">
      <% if !@disable_layout_messages %>
        <%= render 'layouts/messages' %>
      <% end %>
      <%= yield %>
    </div>
  </div> <!-- container -->
  <script type="text/javascript">
<%= yield(:backbone_bootstrap) %>
  </script>
</body>
</html>
