<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 authentication"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 authentication"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 authentication"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js authentication"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= content_for?(:title) ? yield(:title) : "VOCAT" %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- TODO move to correct place -->
  <script type="text/javascript" src="//use.typekit.net/dwf7ffn.js"></script>
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <script type="text/javascript">
    <%= yield(:backbone_bootstrap) %>
  </script>

</head>
<body>
  <div class="page-banner">
    <%= image_tag("logo-vocat-light.png", :class => "page-banner--logo", :alt => "VOCAT") %>
  </div>
  <div class="container">
    <%= yield %>         
  </div> <!-- container -->
</body>
</html>
