<% content_for :main do %>
	<%= render 'layouts/header' %>
	<%= render 'layouts/messages_backbone' %>

	<div class="container">
    <% if @app_section == 'course' %>
        <%= render 'shared/course_subheader', course: @selected_course %>
    <% end %>
		<div class="page-content">
			<% if content_for?(:heading) || content_for?(:heading_links) %>
				<div class="page-content--heading">
					<div class="page-content--heading-buttons"><%= yield :heading_links %></div>
					<%= yield :heading %>
				</div>
			<% end %>
			<%= yield :content %>
		</div>
	</div>

	<%= render 'layouts/footer' %>

<% end %>


<%= render :template => 'layouts/application' %>
