<% content_for :content do %>

  <header class="bar-header">
    <h2 class="bar-header--title"><%= yield :content_header %></h2>
    <%= yield :content_header_links %>
  </header>

  <div class="page-content--frame">
    <%= render 'layouts/messages' %>
    <%= yield :content_intro %>
    <%= yield :content_frames %>  
  </div>


<% end %>

<%= render :template => 'layouts/application' %>