<% content_for :main do %>
  <div class="page-content">
    <div class="page-content--heading">
      <div class="page-content--heading-buttons"><%= yield :heading_links %></div>
      <%= yield :heading %>
    </div>
    <%= render 'layouts/messages' %>
    <%= yield :content %>
  </div>


<% end %>

<%= render :template => 'layouts/application' %>