<% content_for :content do %>

  <div class="page-content">
    <div class="page-content--header">
      <div class="page-content--header-buttons"><%= yield :content_header_links %></div>
      <h2 class="header-primary"><%= yield :content_header %></h2>
    </div>

    <%= render 'layouts/messages' %>
    <%= yield :content_intro %>
    <%= yield :content_frames %>
  </div>


<% end %>

<%= render :template => 'layouts/application' %>