<% content_for :main do %>
  <div class="page-content">
    <div class="page-content--header">
      <div class="page-content--header-buttons"><%= yield :header_links %></div>
      <h2 class="header-primary"><%= yield :header_text %></h2>
      <% if content_for?(:subheader) %>
      <%= yield :subheader %>
      <% end %>
    </div>
    <%= render 'layouts/messages' %>
    <%= yield :content %>
  </div>


<% end %>

<%= render :template => 'layouts/application' %>