<% content_for :course_selector do %>
  <%= collection_select(
      :current_course, :id, current_user.creator_courses, :id, :to_s, {:include_blank => "All of my courses"},
      :id => "course_select", :data => {:url => course_root_path(current_user.organization.id, current_user.courses.first)}
  ) %>
<% end %>

<% content_for :backbone_bootstrap do %>
<% end %>

<% content_for :adaptive_navigation do %>
  <% if @current_course %>
  <nav class="nav-adaptive">
    <div class="container">
      <ul class="nav">
        <li><%= link_to 'My Presentations', course_my_exhibits_path(:course_id => @current_course) %></li>
        <li><%= link_to 'Evaluate Peer Presentations', course_map_path(@current_course) %></li>
        <li><%= link_to 'Feedback', course_feedback_path(@current_course) %></li>
      </ul>
    </div>
  </nav>
  <% end %>
<% end %>

<%= render :template => 'layouts/application' %>