<% content_for :backbone_bootstrap do %>
<% end %>

<% if @course %>
  <% content_for :adaptive_navigation do %>
    <nav class="adaptive-nav">
      <ul class="adaptive-nav--list">
        <li><%= link_to 'Evaluations', course_evaluations_path(@course) %></li>
        <li data-behavior="dropdown">
          <a class="adaptive-nav--link" data-behavior="toggle" href="<%= url_for course_path(@course) %>">Manage Course</a>
          <div class="adaptive-nav--dropdown" data-behavior="dropdown-options">
            <ul>
              <li>
                <%=  link_to 'Projects', course_projects_path(@course) %>
              </li>
              <li>
                <%=  link_to 'Groups', course_groups_path(@course) %>
              </li>
              <li>
                <%=  link_to 'Settings', course_settings_path(@course.id) %>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="#">Reports</a></li>
        <li>
          <%=  link_to 'My Rubrics', course_rubrics_path(@course) %>
        </li>
      </ul>
    </nav>
  <% end %>
<% end %>

<%= render :template => 'layouts/application' %>