<div class="page-section project-overview">
	<div class="header-wrapper">
        <div class="header">
            <p style="color: rgb(140, 140, 140);">PROJECT</p>
            <h1 class="project-name-header" style="font-weight: 400; margin-bottom: 10px; text-transform: none;">{{project.name}}</h1>
            {{{project.description}}}
            <div class="heading-utility" style="margin-top: 1em; margin-bottom: 3em;">
                {{#if project.due_date}}
                    <span class="badge">Due {{project.due_date}}</span>
                {{/if}}
                {{#if project.rubric_id}}
                    <a href="#" class="button primary-button" data-behavior="show-rubric">Show Rubric</a>
                {{/if}}
                <a href="{{url}}/courses/{{project.course_id}}/manage/projects/{{project.id}}/edit" class="button primary-button">Edit Project Settings</a>
            </div>
        </div>
    </div>
    <div class="header">
        <h2 class="section-header" style="margin-bottom: 10px;">PROJECT OVERVIEW</h2>
    </div>
	<div class="body">
		<div class="page-section--subsection" data-region="project-score-overview"></div>
	</div>
</div>

<div class="page-section page-section-clear">
    {{#if_match project.type 'OpenProject'}}
        <div class="submissions-list">
            <div class="header-wrapper">
                <div class="header student-submissions-list">
                    <h2>Students</h2>
                </div>
            </div>
            <div class="body">
                <div data-region="project-student-submission-list"></div>
            </div>
        </div>
        <div class="submissions-list">
            <div class="header-wrapper">
                <div class="header group-submissions-list">
                    <h2>Groups</h2>
                </div>
            </div>
            <div class="body">
                <div data-region="project-group-submission-list"></div>
            </div>
        </div>
    {{/if_match}}
    {{#if_match project.type 'UserProject'}}
        <div class="submissions-list">
            <div class="header-wrapper">
                <div class="header student-submissions-list">
                    <h2>Students</h2>
                </div>
            </div>
            <div class="body">
                <div data-region="project-student-submission-list"></div>
            </div>
        </div>
    {{/if_match}}
    {{#if_match project.type 'GroupProject'}}
        <div class="submissions-list">
            <div class="header-wrapper">
                <div class="header group-submissions-list">
                    <h2>Groups</h2>
                </div>
            </div>
            <div class="body">
                <div data-region="project-group-submission-list"></div>
            </div>
        </div>
    {{/if_match}}
</div>

