<% if current_user %>
	<li>
		<div class="drawer-nav--column drawer-nav--course-column">
			<!-- Administrator drawer nav -->
			<% if (current_user.role?(:administrator) || current_user.role?(:superadministrator)) %>
			<nav class="drawer-course-list">
				<ul data-behavior="admin-courses">
					<% @current_organization.recent_grouped_sorted_courses(10).each do |semester, courses| %>
						  <li class="drawer-nav--grouped-courses">
							  <span class="group-header"><%= semester %></span>
							  <ul class="course-list">
								  <% courses.each do |course| %>
									<li>
										<a href="<%= user_course_url(current_user, course) %>" class="course">
											<i class="icon-course"></i>
											<%= "#{course.department} #{course.number}" %>
											<span><%= "Section #{course.section}" %></span>
										</a>
									</li>
								  <% end %>
							  </ul>
						  </li>
					<% end %>
				</ul>
        <% if @current_organization.courses.count > 10 %>
          <a href="<%= admin_path %>" class="all-courses">
            <i class="icon-courses"></i>
            View All Courses
          </a>
        <% end %>
			</nav>
			<% else %>
				<nav class="drawer-course-list">
					<% if current_user.courses_count == 0 %>
					  <% if current_user.role?(:creator) %>
						<p class="drawer-message">
							You are not currently enrolled any VOCAT courses.
						</p>
					  <% elsif current_user.role?(:evaluator) %>
						<p class="drawer-message">
							There are no courses associated with your account. <br/>
							<%= link_to 'Click here to request a new course.', new_course_request_path %>
						</p>
					  <% end %>
					<% else %>
						<ul data-behavior="drawer-courses">
							<!-- User has courses, so output the current/upcoming courses or their last five courses -->
							<% if current_user.has_current_and_upcoming_courses %>
								<% current_user.sorted_grouped_upcoming_courses(8).each do |semester, courses| %>
									<li class="drawer-nav--grouped-courses">
										<span class="group-header"><%= semester %></span>
										<ul class="course-list">
											<% courses.each do |course| %>
											  <li>
												  <a href="<%= user_course_url(current_user, course) %>" class="course">
													  <i class="icon-course"></i>
													  <%= "#{course.department} #{course.number}" %>
													  <span><%= "Section #{course.section}" %></span>
												  </a>
											  </li>
											<% end %>
										</ul>
									</li>
								<% end %>
						  	<% else %>
								<!-- There are no current/upcoming courses, so show the last 5 -->
								<% current_user.grouped_sorted_courses(5).each do |semester, courses| %>
									<li class="drawer-nav--grouped-courses">
										<span class="group-header"><%= semester %></span>
										<ul class="course-list">
											<% courses.each do |course| %>
											  <li>
												  <a href="<%= user_course_url(current_user, course) %>" class="course">
													  <i class="icon-course"></i>
													  <%= "#{course.department} #{course.number}" %>
													  <span><%= "Section #{course.section}" %></span>
												  </a>
											  </li>
											<% end %>
										</ul>
									</li>
								<% end %>
							<% end %>
						</ul>
					<% end %>
					<% if current_user.courses_count > 0 %>
						<a href="<%= courses_path %>" class="all-courses">
							<i class="icon-courses"></i>
							View All Courses
						</a>
          <% end %>
				</nav>
			  <% end %>
		</div>
	</li>
<% end %>
